.checkbox {
  &--label {
    position: relative;
    display: flex;
    padding-left: calc(#{$control-size} + #{$rem-300} + 2px);
    padding-right: 1ch;
    min-height: calc(#{$control-size} + #{$rem-200} - 4px);
    cursor: pointer;
    user-select: none;
    margin: 0.25rem 0;

    &:hover,
    &:focus {
      background: var(--class-color-focus);
      outline: 0.5rem solid var(--class-color-focus);
      opacity: 0.9;
    }

    &:before {
      position: absolute;
      top: 2px;
      left: 0;
      margin-left: 2px;
      width: $control-size;
      height: $control-size;
      border: 1px solid darken($border-color, 15%);
      border-radius: $border-radius-xsmall;
      background-color: $white;
      box-shadow: inset -1px -1px 2px 0 rgba(0, 0, 0, 0.05);
      content: '';
      transition: border $duration-small $transition-soft,
        background $duration-small $transition-soft,
        box-shadow $duration-small $transition-soft;
    }

    &:after {
      --mark-h: calc(#{$control-size} * 0.6);
      --mark-w: calc(#{$control-size} * 0.3);
      position: absolute;
      top: 4px;
      left: 10px;
      width: var(--mark-w);
      height: var(--mark-h);
      border: 2px solid $white;
      border-top: 0;
      border-left: 0;
      content: '';
      transform: rotate(43deg);
    }
  }

  &--native {
    position: absolute;
    visibility: visible;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;

    &:checked + .checkbox--label:before,
    &[indeterminate] + .checkbox--label:before {
      border-width: 1px;
      border-color: var(--class-color);
      background-color: var(--class-color);
    }

    &[indeterminate] + .checkbox--label:after {
      top: 12px;
      left: 7px;
      width: 12px;
      height: 2px;
      border-top: 0 solid $white;
      border-right: 0 solid $white;
      border-bottom: 2px solid $white;
      border-left: 0 solid $white;
      transform: scale(1) rotate(0deg);
    }

    &:focus + .checkbox--label:before,
    &:checked:focus + .checkbox--label:before,
    &[indeterminate]:focus + .checkbox--label:before {
      box-shadow: $box-shadow-focus var(--class-color-focus);
      border-color: var(--class-color);
    }

    &:disabled + .checkbox--label {
      cursor: not-allowed;
      background: transparent;
      outline: 0;
    }

    &:disabled + .checkbox--label:before {
      border-color: $medium;
      background-color: $lighter;
    }

    &:disabled + .checkbox--label:after {
      border-color: $medium;
    }

    &:checked:disabled + .checkbox--label:before,
    &[indeterminate]:disabled + .checkbox--label:before {
      background-color: $light;
    }

    &:checked + .checkbox--label,
    &[indeterminate] + .checkbox--label {
      background: var(--class-color-focus);
      outline: 0.5rem solid var(--class-color-focus);
    }

    &:disabled + .checkbox--label:after {
      content: none;
    }

    &:checked:disabled + .checkbox--label:after {
      content: '';
    }
  }

  &.-outline {
    box-shadow: inset 0 0 0 1px rgba($black, 0.125);
    font-weight: 500;
    border-radius: $border-radius-xsmall;
    padding: 1px 6px;
    overflow: hidden;

    > * > * {
      color: $black;
      font-size: 15px;
      line-height: 1.5rem;
    }
  }

  &.-invalid {
    .checkbox--label {
      background: rgba($red, $opacity-100);
      outline: 0.5rem solid rgba($red, $opacity-100);

      &:before {
        border-color: rgba($red, $opacity-300);
      }
    }
  }
}
