.textinput {
  display: block;
  position: relative;

  @media (max-width: $vp-small) {
    width: 100% !important;
  }

  &--native {
    padding: 0 $rem-200;
    min-height: $textinput-height;
    width: 100%;
    max-width: var(--textinput-width, unset);
    border: 1px solid $border-color;
    border-radius: $border-radius-small;
    background: $white;
    color: $black;
    vertical-align: middle;
    transition: border-color $duration-small $transition-soft,
      box-shadow $duration-small $transition-soft;

    &:focus,
    &:active {
      border-color: $teal;
      box-shadow: $box-shadow-focus rgba($teal, $focus-opacity);
    }

    &::-webkit-input-placeholder {
      color: $medium;
    }

    &.-prefix {
      padding-left: $textinput-height*0.75;
    }

    &.-suffix {
      padding-right: $textinput-height*0.75;
    }
    
    &.-calculated {
      border: 0;
      border-bottom: 1px solid $dark;
      background-color: unset;
      border-radius: 0;
      background: $lighter;
      
      & ~ * {
        color: $black;
      }
    }

    &[readonly],
    &:disabled {
      cursor: not-allowed;
      outline: none !important;
      box-shadow: none !important;
    }
    
    &:disabled {
      border-color: $light;
      background-color: $lighter;
      color: $medium;
    }

    &:disabled::placeholder {
      color: $light;
      opacity: 1;
    }
  }

  /* Requirement text */
  &--requirement {
    margin-top: $rem-300;
    line-height: normal;
  }

  > .icon {
    min-height: $textinput-height;
    position: absolute;
    top: 0;
    right: $rem-200;
    color: $red;
  }

  &--icon-button {
    position: absolute;
    top: 0;
    right: $rem-200;
    height: 100%;
    max-height: $textinput-height;
  }


  &--prefix,
  &--suffix {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $textinput-height;
    width: $textinput-height;
    position: absolute;
    top: 0;
    pointer-events: none;
  }

  &--prefix {
    left: 0;
  }

  &--suffix {
    right: 0;
  }

  $halfsize: calc(var(--class-sz) / 2);

  .loading {
    position: absolute;
    top: calc(var(--class-sz) / -3.5);
    right: 1rem;
  }

  &--optgroup {
    position: absolute;
    top: calc(#{$textinput-height} - 1px);
    left: 0;
    right: 0;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: $white;
    border: $dropdown-border;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: $dropdown-border-radius;
    border-bottom-left-radius: $dropdown-border-radius;
    z-index: 98;
    box-shadow: $box-shadow-header;
    cursor: default;
    
    > * {
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 2.4rem;
      padding: 0 1ch;
      
      + * {
        border-top: 1px solid $light;
      }
      
      &:hover {
        background: $lighter;
        color: $black;
      }
    }
  }
}
