.icon-list {
  margin-top: $rem-400;
  margin-bottom: $rem-400;
  font-weight: 500;
  color: var(--class-color);

  > * {
    position: relative;
    margin-left: calc(1.25rem + 1ch);
    line-height: 1.25;

    & + * {
      padding-top: $rem-300;
      margin-top: $rem-300;
      border-top: 1px solid $light;
    }
  }

  .icon:first-child {
    position: absolute;
    right: calc(100% + 1ch);
    height: 1.25rem;
    width: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: var(--class-color);
  }
}
