.button {
  display: inline-block;
  border: 1px solid;
  border-radius: var(--class-br);
  text-decoration: none;
  font-family: $font-family-body;
  letter-spacing: 0;
  font-weight: $font-weight-semibold;
  vertical-align: middle;
  // max-width: max-content;
  font-size: var(--class-fs);
  cursor: pointer;
  transition: background $duration-small $transition-soft,
  border-color $duration-small $transition-soft,
  color $duration-small $transition-soft;

  &--inner {
    --ionicon-stroke-width: 64px;
    display: inline-grid;
    justify-content: space-between;
    text-align: center;
    padding: 0 var(--class-em);
    min-width: var(--button-size, var(--class-sz));
    min-height: var(--button-size, var(--class-sz));
    white-space: nowrap;
    grid-auto-flow: column;
    gap: var(--class-em);
    place-items: center;
  }

  &.-block {
    display: block;
  }

  &.-fullwidth {
    display: block;
    width: 100%;
    max-width: unset;

    @media (max-width: $vp-medium) {
      &-m {
        display: block;
        width: 100%;
        max-width: unset;
      }
    }

    @media (max-width: $vp-small) {
      &-s {
        display: block;
        width: 100%;
        max-width: unset;
      }
    }
  }

  &.-small {
    font-size: $font-size-400;
    --class-br: #{$border-radius-medium};
  }

  &.-small &--inner {
    padding: 0 var(--class-fs);
  }

  &.-regular {
    --class-br: #{$border-radius-medium};
  }

  &.-large {
    font-size: $font-size-500;
  }

  &.-solid {
    border-color: var(--class-color);
    background: var(--class-color);
    color: var(--class-color-contrast);

    &:hover {
      border-color: var(--class-color-tint);
      background: var(--class-color-tint);
    }

    &:active,
    &:focus {
      border-color: var(--class-color-shade);
      background: var(--class-color-shade);
    }

    &:focus {
      box-shadow: $box-shadow-focus var(--class-color-focus);
    }
  }

  &.-outline {
    border-color: var(--class-color);
    color: var(--class-color);
    background: transparent;

    &:hover {
      border-color: var(--class-color-tint);
      color: var(--class-color-tint);
    }

    &:active,
    &:focus {
      border-color: var(--class-color-shade);
      color: var(--class-color-shade);
    }

    &:focus {
      box-shadow: $box-shadow-focus var(--class-color-focus);
    }
  }

  &.-clear &--inner {
    padding: unset;
    min-height: auto;
    gap: 0.5ch;
  }

  &.-clear {
    color: var(--class-color);
    border-color: transparent;
    background: transparent;

    &:hover {
      color: var(--class-color-tint);
    }

    &:active,
    &:focus {
      color: var(--class-color-shade);
    }

    &:focus {
      background: var(--class-color-focus);
    }
  }

  &.-round {
    padding: 0;
    border-radius: $border-radius-round;
  }

  &.-round > &--inner {
    padding: 0;
    display: grid;
    justify-content: center;
    max-height: var(--class-sz);
    max-width: var(--class-sz);
  }

  &.-reset {
    .icon {
      display: inline-flex;
      font-size: 1.4rem;
      transform: rotate(45deg);

      svg {
        path {
          stroke-width: 65px !important;
          transition: stroke $duration-small $transition-soft,
        }

        polyline {
          stroke-width: 45px !important;
          transition: stroke $duration-small $transition-soft,
        }
      }
    }

    &:hover {
      .icon svg {
        path {
          stroke: var(--class-color-tint) !important;
        }

        polyline {
          stroke: var(--class-color-tint) !important;
        }
      }
    }

    &:focus, &:active {
      border-color: transparent;
      background: transparent;

      .icon svg {
        path {
          stroke: var(--class-color-shade) !important;
        }

        polyline {
          stroke: var(--class-color-shade) !important;
        }
      }
    }
  }

  &.-reset.disabled {
    pointer-events: none;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    color: rgba($dark, 0.5);
    background: $lighter;
    border-color: $light;
    box-shadow: unset;
    cursor: not-allowed;
  }

  @include colour-selector(-primary, $teal, colour);
  @include colour-selector(-secondary, darker, contrast);

  &.-white-teal {
    border-color: #197f85;
    background: white;
    color: #197f85;
  }
}
