.wishlist {
  .card.-skeleton {
    grid-template-rows: 1fr;

    @include tablet {
      &:nth-child(2) {
        display: none;
      }
    }

    .card-image {
      min-height: 100%;
      height: 35rem;

      @include mobile {
        height: 14rem;
      }
    }
  }
}