.logo {
  display: inline-block;
  color: var(--class-color, currentColor);
  width: auto;

  &:hover {
    // color: var(--class-color-tint);
    color: var(--class-color, currentColor);
  }

  &:active,
  &:focus {
    // color: var(--class-color-shade);
    color: var(--class-color, currentColor);
  }

  &:focus {
    background: transparent !important;
    box-shadow: none !important;
  }

  &--asset {
    width: 100%;

    &-bvrla {
      max-width: 8rem;

      @media only screen and (max-width: $vp-large) {
        max-width: 6rem;
      }
    }

    &-vanarama {
      margin-top: 8px;
    }
  }
}
