@keyframes serviceBannerFadeIn {
  0% {
    opacity: 0;
  }
}

.service-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 102;
  width: 100%;
  background-color: #ECEDF1;
  grid-column: full;
  padding: 9px 0 9px 0;
  animation: serviceBannerFadeIn .45s ease-out 2.5s backwards;
  transform: translateY(100%);
}
