# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/out
/.next

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
#.env  <= Why is this in Gitignore?
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
