.tabs {
  $tabs-border: $border-color 0, $border-color 1px, transparent 1px;
  $tabs-border-active: $orange 0, $orange 3px, transparent 3px;

  text-align: var(--tabs-text-align, center);

  &-wrap {
    width: 100%;
  }

  &__list {
    width: 100%;
    min-width: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    font-size: var(--tabs-font-size);

    &-wrap {
      overflow: hidden;
      background: var(--tabs-border-bottom);
    }

    > * {
      display: block;
      position: relative;
      padding: var(--tabs-size);
      flex-grow: var(--tabs-grow, 1);
      z-index: 2;
      font-weight: 500;
      text-align: var(--tabs-text-align, inherit);
      line-height: calc(1em + 0.375rem);
      background: var(--tabs-border-left), var(--tabs-border-bottom);
      background-color: $white;

      &.-active {
        pointer-events: none;
        font-weight: 600;
        color: $black;
        background: var(--tabs-border-left), var(--tabs-border-active);
        background-color: $white;
      }

      &[hidden] {
        display: var(--tabs-display, none);
      }

      &:not(.-active) {
        cursor: pointer;
        color: $dark;
        background-color: $white;

        &:hover {
          z-index: 1;
          color: $black;
          background: var(--tabs-border-left);
          background-color: $light;

          & .color-picker g,
          & .color-picker .picker {
            fill: black;
          }
        }
      }

      &:first-child:not(.-active) {
        background: var(--tabs-border-bottom);
        background-color: $white;
      }

      &:last-child.-active {
        color: $black;
        background: var(--tabs-border-right), var(--tabs-border-left),
          var(--tabs-border-active);
        background-color: $white;
      }
    }
  }

  &__panel {
    background-color: $white;

    > :not(.tabs--active) {
      display: none;
    }
  }

  &.-small {
    --tabs-size: #{$rem-200} #{$rem-400};
    --tabs-font-size: #{$font-size-300};
  }

  &.-lead {
    --tabs-size: #{$rem-300} #{$rem-400};
    --tabs-font-size: #{$font-size-400};

    @include tablet {
      --tabs-size: #{$rem-300} #{$rem-400};
      --tabs-font-size: #{$font-size-500};
    }
  }

  &.-regular,
  &.-large {
    --tabs-size: #{$rem-300} #{$rem-400};
    --tabs-font-size: #{$font-size-400};
  }

  &.-center {
    --tabs-text-align: center;
    display: flex;
    justify-content: center;
  }

  &.-expand {
    --tabs-grow: 1;
    --tabs-text-align: center;
  }

  &.-content-end {
    --tabs-border-right: linear-gradient(to left, #{$tabs-border});
    --tabs-border-left: linear-gradient(to right, #{$tabs-border});
    --tabs-border-active: linear-gradient(to bottom, #{$tabs-border-active});
    --tabs-border-top: linear-gradient(to bottom, #{$tabs-border});
    --tabs-border-bottom: linear-gradient(to top, #{$tabs-border});
  }

  &.-content-start {
    --tabs-border-right: linear-gradient(to left, #{$tabs-border});
    --tabs-border-left: linear-gradient(to right, #{$tabs-border});
    --tabs-border-active: linear-gradient(to bottom, #{$tabs-border-active});
    --tabs-border-top: linear-gradient(to bottom, #{$tabs-border});
    --tabs-border-bottom: linear-gradient(to top, #{$tabs-border});
  }

  [role='tab'] {
    line-height: 1.05;
    text-align: center;

    @media (max-width: 440px) {
      font-size: 3.5vw !important;
    }
  }

  &.-alt {
    --tabs-border-bottom: linear-gradient(to top, #{$tabs-border-active});

    .tabs__list {
      gap: 4px;
    }

    &.-center {
      .tabs__list-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .tabs__list {
        max-width: max-content;

        @include mobile {
          width: 100%;
          max-width: unset;
        }
      }
    }

    [role='tab'] {
      background: $darker;
      color: $light;
      margin-bottom: 3px;
      margin-right: 3px;
      border-top-left-radius: $border-radius-xsmall;
      border-top-right-radius: $border-radius-xsmall;
      flex-grow: 1;
      width: 100%;

      &:hover {
        background: darken($darker, $shade);
        color: $white;
      }

      &.-active {
        background: $orange;
        color: $white;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.tabs {
  @media (min-width: $vp-medium) {
    --tabs-display: block;

    &.-large {
      --tabs-size: #{$rem-400} #{$rem-500};
      --tabs-font-size: #{$font-size-500};
    }

    &.-lead {
      --tabs-size: #{$rem-300} #{$rem-500};
      --tabs-font-size: #{$font-size-500};
    }

    &:not(.-expand) {
      --tabs-grow: 0;
      --tabs-text-align: left;
    }

    [class*='tabs__arrow'] {
      display: none;
    }

    &__list {
      justify-content: flex-start;
    }
  }
}
