.choice-boxes-v2 {
  display: block;
  width: 100%;
  min-width: 0;

  &:not(.-solid) {
    .choice-input {
      &:disabled + .choice-box {
        background: #ced6de;
        border: none;
      }
    }
  }

  .choice-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    min-height: 42px;
    padding: 12px;
    border: 1px solid #d0d9e1;
    border-radius: 5px;
    font-size: $font-size-400;
    font-weight: 400;
    color: #44576A;
    background: white;
    transition: all .25s ease;
    cursor: pointer;

    ~ .choice-box {
      margin-top: 14px;
    }

    &.-active {
      border-color: #007F85;
      font-weight: 500;
      background: white;
    }

    @include mobile {
      min-height: 34px;
      font-size: $font-size-300;
    }
  }

  &.-solid {
    .choice-input:focus {
      & + .choice-box,
      & + .choice-box.-active {
        box-shadow: $box-shadow-focus var(--class-color-focus);
      }
    }

    .choice-box {
      font-weight: 500;
    }

    .choice-box:hover,
    .choice-input:focus + .choice-box {
      border-color: $dark;
      background: $lighter;
      color: $black;
    }

    .choice-box.-active {
      background: var(--class-color);
      border-color: var(--class-color);
      color: var(--class-color-contrast);
    }

    .choice-box.-active:hover,
    .choice-input:focus + .choice-box.-active {
      background: var(--class-color-tint);
      border-color: var(--class-color);
      color: var(--class-color-contrast);
    }
  }
}
