.choice-boxes-v2 {
  display: block;
  min-width: 0;

  .choice-input {
    &:disabled + .choice-box {
      border: none;
      background: #ced6de;
      cursor: not-allowed;
    }
  }

  .choice-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    min-height: 42px;
    padding: 12px;
    border: 1px solid #d0d9e1;
    border-radius: 5px;
    font-size: $font-size-400;
    font-weight: 400;
    background: white;
    transition: border 0.3s ease;
    cursor: pointer;

    ~ .choice-box {
      margin-top: 14px;
    }

    span {
      color: #44576A;
    }

    &:hover,
    &:focus {
      border-color: #d0d9e1;
      background: white;
      box-shadow: none;
    }

    &.-active {
      border-color: #007F85;
      font-weight: 500;
      background: white;
    }

    &.-solid {
      transition: all 50ms ease;

      &:hover,
      &:focus {
        border-color: $dark;
        background: $lighter;
        color: $black;
      }

      &:focus {
        box-shadow: $box-shadow-focus var(--class-color-focus);
      }

      &.-active {
        background: var(--class-color);
        border-color: var(--class-color);
        color: var(--class-color-contrast);

        &:hover,
        &:focus {
          background: var(--class-color-tint);
        }

        &:focus {
          box-shadow: $box-shadow-focus var(--class-color-focus);
        }
      }
    }

    @include mobile {
      min-height: 32px;
      font-size: $font-size-300;
    }
  }
}
