@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-200-normal.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-200-italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-300-normal.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-300-italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-400-normal.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-400-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-500-normal.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-500-italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-600-normal.otf') format('opentype');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-600-italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-700-normal.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-700-italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-800-normal.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VA Basic';
  src: url('NunitoSans-800-italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
