@keyframes cookieBarFadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes cookieBarFadeOut {
  100% {
    opacity: 0;
  }
}

.cookie-dialog {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  padding: 34px 25px 21px;
  border-radius: 0;
  text-align: left;
  background: #CDD6DE;
  box-shadow: 0 0 12px #00000098;
  animation: cookieBarFadeIn .45s ease-out 1.45s backwards;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  &.-hide {
    animation: cookieBarFadeOut .45s ease-out forwards;
  }

  @include tablet {
    padding: 24px 41px 16px;
  }

  @include mobile {
    padding: 11px 18px 19px;
  }

  &__text {
    display: block;
    font-size: $font-size-300 !important;
    font-weight: 500;
    line-height: 19px;
    grid-row-start: 1;
    grid-column: span 8!important;

    @include mobile-tablet {
      font-size: $font-size-200 !important;

      & > br {
        display: none;
      }
    }

    @include mobile {
      grid-column: span 13!important;
      text-align: center;
    }

    .link {
      white-space: nowrap;
      font-size: inherit;
      text-decoration: underline;

      & br {
        display: none;
      }

      @include mobile {
        & br {
          display: inline-block;
        }
      }
    }
  }

  .button {
    &.accept {
      background: hsl(183, 48%, 38%);
      font-size: $font-size-350;
      min-width: 221px;
      border-radius: 3px;
      border: none;
      grid-column-start: -1;
      grid-row-start: 1;
      grid-column-end: 10;
      justify-self: flex-end;
      align-self: flex-start;
      height: 49px;

      & .button--inner {
        min-height: auto;
      }

      @include mobile {
        justify-self: center;
        text-align: center;
        grid-row-start: 3;
        height: 33px;
        min-width: 114px;
        grid-column-start: 1;
        grid-column: span 13;
      }
    }

    &.decline {
      background: none;
      border: none;
      font-size: $font-size-300;
      text-decoration: underline;
      margin-top: 13px;
      font-weight: 500;
      grid-column: span 1;
      padding: 0;
      text-align: left;
      justify-self: flex-start;
      grid-row-start: 2;

      & .button--inner {
        padding: 0;
        min-height: auto;
      }

      @include mobile-tablet {
        font-size: $font-size-200;
      }

      @include mobile {
        margin-bottom: 15px;
        grid-column: span 13;
        justify-self: stretch;
        text-align: center;
      }
    }
  }
}
