.cookie-bar {
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 347px;
  max-width: calc(100% - 60px);
  padding: 22px 25px 16px;
  border-radius: 6px;
  text-align: center;
  background: $white;
  box-shadow: 0 0 15px #00000021;
  transition: all .45s ease-out;
  z-index: 999;

  &.-hidden {
    visibility: hidden;
    opacity: 0;
  }

  @include mobile {
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    max-width: calc(100% - 30px);
    padding-top: 18px;
    padding-bottom: 14px;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-flex;
    cursor: pointer;
  }

  &__text {
    display: block;
    margin-bottom: 12px;
    font-size: 15px !important;

    .link {
      white-space: nowrap;
    }
  }

  &__actions {
    margin: -5px -10px;

    .button {
      width: 94px;
      margin: 5px 10px;
    }
  }
}