.typeahead {
  &--optgroup {
    position: absolute;
    top: calc(#{$textinput-height} - 1px);
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: $white;
    border: $dropdown-border;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: $dropdown-border-radius;
    border-bottom-left-radius: $dropdown-border-radius;
    z-index: 98;
    box-shadow: $box-shadow-header;
    cursor: default;
    max-height: 218px;

    > * {
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-height: 2.4rem;
      padding: 0 1ch;
      + * {
        border-top: 1px solid $light;
      }

      &:hover,
      &[aria-selected='true'] {
        background: $lighter;
        color: $black;
      }
    }
  }
}
