.uk-button,
.button{
    @include h5;
    padding: spacing(1) spacing(4);
    font-family: $button--font;
    font-weight: 500;
    border: 0px;
    border-radius: $button--border-radius;
    white-space: nowrap;

    &-tiny{
        padding: 0;
        line-height: $small-icon-size;
        @include h5;
        text-align: left;
        background: transparent;
        border: 0 !important;
    }

    &-small{
        padding: spacing(1) spacing(4);
        line-height: $medium-icon-size;
    }

    &-medium{
        padding: spacing(1) spacing(4);
        line-height: $medium-icon-size;
    }

    &-large{
        padding: spacing(1) spacing(5);
        line-height: $large-icon-size;
        @include h4;

        @include vp(mobile){
            width: 100%;
        }

    }

    .uk-icon{
        margin-right: 0.34em;
        color: inherit;
        height: $small-icon-size - 2px;
        width: $small-icon-size - 2px;

        svg{
            vertical-align: text-bottom;
            height: $small-icon-size - 2px;
            width: $small-icon-size - 2px;
        }

    }

    .icon{
        color: inherit;
        svg{
            color: inherit;
            height: 1.125em;
            width: 1.125em;
            margin-top: -.125em;
        }
    }

    &-primary{
        @include overline;
        background: $button-primary--bg-color;
        color: $button-primary--color;
        border: $button-primary--border;
        transition: $transition;
        font-weight: 500;

        &:hover,
        &:focus{
            background: $button-primary-hover--bg-color;
            color: $button-primary-hover--color;
            border: $button-primary-hover--border;
            transition: $transition;

            .icon{
                svg{
                    color: $button-primary--color;
                }
            }

        }

        &:disabled{
            // background: fade-out($accent-primary, .83);
            background: $transparent;
            color: $accent-primary;
        }

        .icon{
            svg{
                color: $button-primary--color;
            }
        }

    }

    &-secondary{
        background: $button-secondary--bg-color;
        color: $button-secondary--color;
        border: $button-secondary--border;
        transition: $transition;
        @include overline;

        &:hover,
        &:focus{
            background: $button-secondary-hover--bg-color;
            color: $button-secondary-hover--color;
            border: $button-secondary-hover--border;
            transition: $transition;

            .icon{
                svg{
                    color: $button-secondary--color;
                }
            }

        }

        &:disabled{
            background: $disabled--bg-color;
            color: $disabled--color;
        }

        .icon{
            svg{
                color: $button-secondary--color;
            }
        }

    }

    &-tertiary{
        background: $button-tertiary--bg-color;
        color: $button-tertiary--color;
        border: $button-tertiary--border;
        transition: $transition;
        @include overline;

        &:hover,
        &:focus{
            background: $button-tertiary-hover--bg-color;
            color: $button-tertiary-hover--color;
            border: $button-tertiary-hover--border;
            transition: $transition;
        }

        &:disabled{
            background: $transparent;
            border: $disabled--border;
            color: $disabled--color;
        }

        .icon{
            svg{
                color: $button-tertiary--color;
            }
        }

    }

    &-negative{
        background: $button-negative--bg-color;
        color: $button-negative--color;
        border: $button-negative--border;
        transition: $transition;
        @include overline;

        &:hover,
        &:focus{
            background: $button-negative-hover--bg-color;
            color: $button-negative-hover--color;
            border: $button-negative-hover--border;
            transition: $transition;
        }

        &:disabled{
            background: $transparent;
            border: $disabled--border;
            color: $disabled--color;
            opacity: .5;
        }

        .icon{
            svg{
                color: $button-negative--color;
            }
        }

    }

    &.full-width{
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
    }

}

.button:not(:last-of-type){
    margin-right: spacing(1);
}
