.drawer-container {
  padding: 0 24px 24px;
  @include mobile {
    padding: 0 18px 24px;
  }
}
.drawer-subtitle {
  display: block;
  margin-bottom: 2rem;
}
.drawer-brand {
  margin-top: 2rem;
}
.drawer-description {
  margin: 0.5rem 0 1.5rem;
}
.drawer--form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.deranged--form-success {
  display: block;
  margin-top: 1rem;
}

