.rating {
  display: grid;
  grid-auto-flow: column;
  color: var(--class-color);
  width: max-content;
  gap: 0 0.125ch;
  place-items: center;
  font-size: var(--class-fs);
  
  &.-interactive {
    transition: opacity 80ms $transition-strong;
    
    &:hover {
      opacity: 0.75;
    }
    
    > :not(.text) {
      position: relative;
      @include expand-tappable-area(25%);
    }
  }

  & > * {
    display: block;
    font-size: inherit;

    &.text:last-child {
      left: 0.5ch;
      position: relative;
      font-size: calc(var(--class-fs) * 0.75);
      line-height: var(--class-fs);
      cursor: default;
    }
  }
  @media (max-width: $vp-small) {
    &.-xlarge .icon.-xlarge {
      --class-fs: 2.1rem;
    }
  }

  @include colour-selector(-primary, $orange, colour);
  @include colour-selector(-secondary, darker, contrast);
}
