// emoji fallback
// (allows emoji to be used in html text)

@font-face {
  font-family: -system-emoji;
  src: local('Apple Color Emoji'), local('Segoe UI Emoji'),
    local('Segoe UI Symbol'), local('Noto Color Emoji');
}

@font-face {
  font-family: 'VA Body Fallback';
  src: local('Helvetica Neue'), local('Arial'), local('-apple-system'),
    local('BlinkMacSystemFont'), local('Segoe UI'), local('Roboto'),
    local('Oxygen'), local('Ubuntu'), local('Cantarell'), local('Fira Sans'),
    local('Droid Sans'), local('sans-serif');
  ascent-override: 108.4%;
  descent-override: 31.3%;
  line-gap-override: normal;
  advance-override: 1101;
}

// Code font

// @font-face {
//   font-family: 'VA Code';
//   src: url($font-path+'DkMono/DkMono-400-normal.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'VA Code';
//   src: url($font-path+'DkMono/DkMono-400-italic.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 400;
//   font-style: italic;
// }

// Heading font

@font-face {
  font-family: 'VA Heading';
  src: url($font-path+'FFCocon/FFCocon-300-normal.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

// @font-face {
//   font-family: 'VA Heading';
//   src: url($font-path+'FFCocon/FFCocon-300-italic.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 300;
//   font-style: italic;
// }

@font-face {
  font-family: 'VA Heading';
  src: url($font-path+'FFCocon/FFCocon-400-normal.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'VA Heading';
//   src: url($font-path+'FFCocon/FFCocon-400-italic.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 400;
//   font-style: italic;
// }

// Body font

// @font-face {
//   font-family: 'VA Body';
//   src: url($font-path+'NunitoSans/NunitoSans-200-normal.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'VA Body';
//   src: url($font-path+'NunitoSans/NunitoSans-200-italic.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 200;
//   font-style: italic;
// }

@font-face {
  font-family: 'VA Body';
  src: local('Nunito Sans'), local('NunitoSans'), local('Nunito-Sans'),
       url($font-path+'NunitoSans/NunitoSans-300-normal.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

// @font-face {
//   font-family: 'VA Body';
//   src: url($font-path+'NunitoSans/NunitoSans-300-italic.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 300;
//   font-style: italic;
// }

@font-face {
  font-family: 'VA Body';
  src:local('Nunito Sans'), local('NunitoSans'), local('Nunito-Sans'),
      url($font-path+'NunitoSans/NunitoSans-400-normal.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'VA Body';
//   src: url($font-path+'NunitoSans/NunitoSans-400-italic.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 400;
//   font-style: italic;
// }

@font-face {
  font-family: 'VA Body';
  src: local('Nunito Sans'), local('NunitoSans'), local('Nunito-Sans'),
       url($font-path+'NunitoSans/NunitoSans-500-normal.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

// @font-face {
//   font-family: 'VA Body';
//   src: url($font-path+'NunitoSans/NunitoSans-500-italic.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 500;
//   font-style: italic;
// }

@font-face {
  font-family: 'VA Body';
  src: local('Nunito Sans'), local('NunitoSans'), local('Nunito-Sans'),
       url($font-path+'NunitoSans/NunitoSans-600-normal.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

// @font-face {
//   font-family: 'VA Body';
//   src: url($font-path+'NunitoSans/NunitoSans-600-italic.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 600;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'VA Body';
//   src: url($font-path+'NunitoSans/NunitoSans-700-normal.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'VA Body';
//   src: url($font-path+'NunitoSans/NunitoSans-700-italic.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 700;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'VA Body';
//   src: url($font-path+'NunitoSans/NunitoSans-800-normal.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 800;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'VA Body';
//   src: url($font-path+'NunitoSans/NunitoSans-800-italic.woff2') format('woff2');
//   font-display: swap;
//   font-weight: 800;
//   font-style: italic;
// }
