@include desktop {
  .-xsmall {
    --class-fs: #{$font-size-300};
    --class-em: #{$em-200};
    --class-pm: #{$rem-200};
    --class-sz: #{$height-xsmall};
    --class-br: #{$border-radius-xsmall};
  }

  .-small {
    --class-fs: #{$font-size-300};
    --class-em: #{$em-200};
    --class-pm: #{$rem-200};
    --class-sz: #{$height-small};
    --class-br: #{$border-radius-small};
  }

  .-regular {
    --class-fs: #{$font-size-400};
    --class-em: #{$em-300};
    --class-pm: #{$rem-300};
    --class-sz: #{$height-regular};
    --class-br: #{$border-radius-small};
  }

  .-lead {
    --class-fs: #{$font-size-500};
    --class-em: #{$em-300};
    --class-pm: #{$rem-300};
    --class-sz: #{$height-regular};
    --class-br: #{$border-radius-small};
  }

  .-large {
    --class-fs: #{$font-size-600};
    --class-em: #{$em-300};
    --class-pm: #{$rem-300};
    --class-sz: #{$height-large};
    --class-br: #{$border-radius-small};
  }

  .-xlarge {
    --class-fs: #{$font-size-700};
    --class-em: #{$em-400};
    --class-pm: #{$rem-400};
    --class-sz: #{$height-xlarge};
    --class-br: #{$border-radius-small};
  }
}

@include tablet {
  .-xsmall {
    --class-fs: #{$font-size-300};
    --class-em: #{$em-200};
    --class-pm: #{$rem-200};
    --class-sz: #{$height-xsmall};
    --class-br: #{$border-radius-xsmall};
  }

  .-small {
    --class-fs: #{$font-size-300};
    --class-em: #{$em-200};
    --class-pm: #{$rem-200};
    --class-sz: #{$height-small};
    --class-br: #{$border-radius-small};
  }

  .-regular {
    --class-fs: #{$font-size-400};
    --class-em: #{$em-300};
    --class-pm: #{$rem-300};
    --class-sz: #{$height-regular};
    --class-br: #{$border-radius-small};
  }

  .-lead {
    --class-fs: #{$font-size-500 - 0.125rem};
    --class-em: #{$em-300};
    --class-pm: #{$rem-300};
    --class-sz: #{$height-regular};
    --class-br: #{$border-radius-small};
  }

  .-large {
    --class-fs: #{$font-size-600 - 0.25rem};
    --class-em: #{$em-300};
    --class-pm: #{$rem-300};
    --class-sz: #{$height-large};
    --class-br: #{$border-radius-small};
  }

  .-xlarge {
    --class-fs: #{$font-size-700};
    --class-em: #{$em-400};
    --class-pm: #{$rem-400};
    --class-sz: #{$height-xlarge};
    --class-br: #{$border-radius-small};
  }
}

@include mobile {
  .-xsmall {
    --class-fs: #{$font-size-300};
    --class-em: #{$em-200};
    --class-pm: #{$rem-200};
    --class-sz: #{$height-xsmall};
    --class-br: #{$border-radius-xsmall};
  }

  .-small {
    --class-fs: #{$font-size-300};
    --class-em: #{$em-200};
    --class-pm: #{$rem-200};
    --class-sz: #{$height-small};
    --class-br: #{$border-radius-small};
  }

  .-regular {
    --class-fs: #{$font-size-400};
    --class-em: #{$em-300};
    --class-pm: #{$rem-300};
    --class-sz: #{$height-regular};
    --class-br: #{$border-radius-small};
  }

  .-lead {
    --class-fs: #{$font-size-500 - 0.125rem};
    --class-em: #{$em-300};
    --class-pm: #{$rem-300};
    --class-sz: #{$height-regular};
    --class-br: #{$border-radius-small};
  }

  .-large {
    --class-fs: #{$font-size-600 - 0.25rem};
    --class-em: #{$em-300};
    --class-pm: #{$rem-300};
    --class-sz: #{$height-large};
    --class-br: #{$border-radius-small};
  }

  .-xlarge {
    --class-fs: #{$font-size-700 - 0.5rem};
    --class-em: #{$em-400};
    --class-pm: #{$rem-400};
    --class-sz: #{$height-xlarge};
    --class-br: #{$border-radius-small};
  }
}
