.tile {
  display: grid;
  min-width: 0;
  grid-auto-flow: row;
  grid-template-columns: minmax(0,1fr);
  gap: $rem-400;
  padding: $rem-400;
  border-radius: 0;
  align-content: start;
  height: 100%;

  &:not(.-plain) {
    border: 1px solid $border-color;
    border-bottom: 2px solid $border-color;
    background: $white;
  }

  > .text + .text {
    margin-top: 0;
  }

  &.-button {
    position: relative;
    background: rgba($teal, 0);
    opacity: 1;
    transition: opacity $duration-medium $transition-soft,
      box-shadow $duration-small $transition-soft,
      background $duration-small $transition-soft;

    &:hover {
      background: rgba($dark, 0.1);
    }

    &:focus-within {
      opacity: 1;
      box-shadow: 0 0 0 4px rgba($teal, $opacity-300);
    }
  }

  &.-button &--link:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.-scrollable {
    min-height: min-content;
    max-height: 60vh;
    overflow-y: scroll;
    padding-bottom: unset;

    > :last-child {
      margin-bottom: $rem-400;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: rgba($medium, 0.375);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($medium, 0.75);
      transition: background-color 350ms ease;
      outline: 0;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: rgba($medium, 1);
    }
  }

  &--color {
    background: var(--class-color);
    color: var(--class-color-contrast);
  }

  & > .heading + .text {
    margin: 0;
  }

  &:not(.tile--flex) > .button:last-child {
    margin-top: $rem-300;
  }

  &--centered {
    gap: $rem-400;
    place-items: center;
    text-align: center;
  }

  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.-align-center {
    text-align: center;
  }

  @include colour-selector(-primary, $white, colour);
  @include colour-selector(-secondary, lighter, contrast);
}
