// PDP Free Insurance
.-free-insurance {
  padding-top: 0 !important;
}
.pdp-free-insurance-banner {
  display: flex;
  justify-content: space-between;
  background: #F8BB20;
  padding: 8px 20px 8px 13px;

  &--text {
    font-family: VA Heading, -apple-system, system-ui, sans-serif, -system-emoji;
    line-height: 24px;
    font-size: 17px;
  }

  &--link {
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: underline;
  }
}

.gallery-promotion-container {
  grid-area: unset !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;

  .promotion-item {
    border-radius: 0px 0px 0px 6px;
    padding: 5px 14px 4px 9px;
    font-family: VA Heading, -apple-system, system-ui, sans-serif, -system-emoji;
    letter-spacing: 0px;

    @include mobile {
      padding: 4px 14px 3px 9px;
      font-size: 13px;
      line-height: 19px;
    }

    &-regular-text {
      line-height: 20px;
      font-size: 13px;
      font-weight: 300;
    }

    &-accent-text {
      line-height: 20px;
      font-size: 13px;
    }

    &.--primary {
      background-color: #F8BB20;
    }

    &.--secondary {
      background-color: #47C0D8;
    }
  }
}

.card .gallery-promotion-container {
  top: 14px;
}

.two-col {
  > * {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
    border: 3px solid #ea6308;
    border-radius: 0.375rem;
    min-height: 187px;
    @include mobile375 {
      padding: 10px;
    }

    .icon {
      height: auto;
    }
    svg {
      width: 62px;
    }
    .copy {
      width: calc(100% - 86px);
      height: 142px;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      p, span {
        color: black;
      }
      p {
        line-height: normal;
        span {
          font-weight: bold;
        }
      }
      > span {
        font-size: 15px;
      }
      a {
        color: #007f83;
        margin-top: auto;
        text-decoration: underline;
        font-size: 12px;
      }
      &.--xsmall {
        p {
          font-size: 14px;
          font-weight: bold;
        }
        > span {
          font-size: 12px;
          margin-top: auto;
        }
        a {
          margin-top: unset;
        }
      }
    }
  }

  // Desktop
  @media (min-width:1216px) {
    display: flex;
    justify-content: space-between;
    > * {
      width: calc(50% - 14px);
      margin-bottom: 0;
    }
  }
}

.whats-included-insurance {
  display: flex;
  border-top: 1px solid #cdd6de;
  padding: 15px 12px 2px;
  margin: 0 -10px;
  svg {
    width: 39px;
    height: 46px;
  }
  > div {
    padding-left: 10px;
    > span {
      &:last-of-type {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: black;
        text-transform: uppercase;
        margin-top: 2px;
      }
    }
  }
}
.yellow-tag {
  display: flex;
  align-items: center;
  height: 40px;
  background: #f7bb20;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-left: -16px;
  max-width: 264px;
  padding: 0 4px 0 30px;
  span {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-right: auto;
  }
  svg {
    width: 32px;
    border: 2px solid black;
    border-radius: 100px;
    height: 32px;
    > g {
      transform: scale(0.5) translate(16px, 14px);
    }
  }
}
.subject-to--- {
  font-size: 12px;
  font-weight: bold;
  color: black;
  padding-left: 10px;
  margin-top: 6px;
  span {
    display: block;
    sup {
      font-size: 14px;
      top: 0;
    }
  }
}

.insuranceConditions li{
  margin-top: 0;
  border-top:  none;
}
