.Tabs__Nav{
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 40px;
  border-bottom: 1px solid lightgray;
}

.Tab__Link{
  cursor: pointer;
  padding: 10px;

  &.active{
    border-bottom:2px solid;
  }
}

.Tab__Content{
  width: 100%;
  order: 99;
  padding: 20px;
}



