.comments {
  display: grid;
  grid-auto-flow: row;
  gap: $rem-500;
  width: 100%;

  &--textarea {
    display: grid;
    grid-template-columns: max-content auto;
    gap: $rem-400;
    padding-bottom: $rem-500;
    border-bottom: 2px solid $border-color;

    .textarea {
      margin-bottom: $rem-200;
    }
  }

  &--toggle { text-align: center; }

  &--item {
    display: grid;
    grid-template-columns: max-content auto;
    gap: $rem-400;
    padding: $rem-500 0;
    border-bottom: 1px solid $border-color;

    &:first-of-type {
      padding-top: unset;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
