.progress-indicator {
  --step-size: 2.5rem;
  display: grid;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  place-items: stretch;
  margin-left: calc(var(--step-size) / -2);
  margin-right: calc(var(--step-size) / -2);

  &-vertical {
    justify-content: start;
    grid-auto-flow: row;
    place-items: start;
  }
}

.progress-step {
  position: relative;

  & .-label {
    font-size: $font-size-300;
  }

  &--button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(var(--step-size) * 2);
    text-align: center;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 100%;
      border-bottom: 1px dotted;
      border-color: $dark;
      opacity: 0.5;
      position: absolute;
      top: calc(var(--step-size) / 2);
      right: -50%;

      .progress-step-complete &, .progress-step-editing & {
        border-bottom: 1px solid;
        border-color: $orange;
      }

      :last-child > & {
        display: none;
      }
    }
  }

  &--button .-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: var(--step-size);
    height: var(--step-size);
    border-radius: $border-radius-round;
    color: $white;
    transition: background $duration-medium $transition-soft;
  }

  &--line {
    display: none;
  }

  &--button .-label {
    margin-top: $rem-500;
  }

  &-current .-icon {
    background: $orange;
    font-weight: $font-weight-semibold;
  }

  &-current--hidden .-icon {
    background: $orange;
    font-weight: $font-weight-regular;
  }

  &-current--hidden .-label {
    color: $darker;
    font-weight: $font-weight-regular;
  }

  &-current .-label {
    color: $black;
    font-weight: $font-weight-semibold;
  }

  &-editing .-icon {
    background: $orange;
    font-weight: $font-weight-semibold;
  }

  &-editing .-label {
    color: $black;
    font-weight: $font-weight-semibold;
  }

  &-disabled .-icon {
    box-shadow: 0 0 0 1px $border-color;
    background: $white;
    color: $dark;
    cursor: not-allowed;
  }

  &-complete .-icon {
    background: $orange;
  }

  &-complete:hover .-icon {
    background: lighten($orange, $tint);
  }

  &-incomplete .-icon {
    box-shadow: 0 0 0 1px $border-color;
    background: $white;
    color: $dark;
  }

  &-incomplete &--button {
    cursor: not-allowed;
  }

  &-current &--button, &-editing &--button {
    cursor: default;
  }
}

.progress-indicator {
  @media (max-width: $vp-small) {
    --step-size: 40px;
    -webkit-mask-image: linear-gradient(
      to left,
      transparent 0%,
      grey 10%,
      black 60%
    );
    mask-image: linear-gradient(to left, transparent 0%, grey 10%, black 60%);
    grid-auto-columns: 40vw;
    margin-left: -$rem-400;
    margin-right: -$rem-400;
    max-width: calc(#{$vp-small} - #{$global-inset-at-small * 2});
    overflow-x: scroll;
    padding: 0.2rem;
  }
}
