/// @name config
$carousel-gap: $rem-500;
$carousel-arrow-size: 1.5rem;

.carousel {
  position: relative;
  width: 100%;

  @include presentation-styles {
    &--track-items {
      display: grid;
      grid-auto-flow: column;
      gap: $carousel-gap;

      > :not([class]) {
        display: flex;
        place-items: stretch;
      }
    }

    &.-col1 &--track-items {
      grid-template-columns: repeat(1, 1fr);

      & > :nth-child(n + 2) {
        display: none;
      }
    }

    &.-col2 &--track-items {
      @include desktop {
        grid-template-columns: repeat(2, 1fr);
        & > :nth-child(n + 3) {
          display: none;
        }
      }
      @include tablet {
        grid-template-columns: repeat(2, 1fr);
        & > :nth-child(n + 3) {
          display: none;
        }
      }
      @include mobile {
        grid-template-columns: repeat(1, 1fr);
        & > :nth-child(n + 2) {
          display: none;
        }
      }
    }

    &.-col3 &--track-items {
      @include desktop {
        grid-template-columns: repeat(3, 1fr);
        & > :nth-child(n + 4) {
          display: none;
        }
      }
      @include tablet {
        grid-template-columns: repeat(2, 1fr);
        & > :nth-child(n + 3) {
          display: none;
        }
      }
      @include mobile {
        grid-template-columns: repeat(1, 1fr);
        & > :nth-child(n + 2) {
          display: none;
        }
      }
    }
  }

  &--nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $carousel-gap;

    &.-disabled {
      display: none;
    }

    > * + * {
      margin-left: 1rem;
    }

    &-item,
    &-arrow {
      display: block;
      cursor: pointer;
      position: relative;
      @include expand-tappable-area(30%);
    }

    &-item {
      color: $medium;

      &:hover,
      &:focus {
        color: darken($medium, $shade);
      }

      &.-active {
        color: $orange;
      }

      svg {
        fill: currentColor;
      }
    }

    &-arrow {
      color: $darker;
      font-size: $carousel-arrow-size;

      &:hover,
      &:focus {
        color: $black;
      }
    }

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &.top-offers {
    ul,
    li {
      min-height: 36rem;
    }
  }

  &.customer-reviews {
    ul,
    li {
      min-height: 15rem;
    }

    .carousel--nav {
      position: relative;
      z-index: 1;
    }
  }

  &.about-us {
    .card {
      max-height: unset !important;
      grid-template-rows: auto;
    }

    @include mobile {
      ul,
      li {
        min-height: 366px;
      }
    }
  }

  .card {
    .title {
      .link {
        white-space: normal;
      }
    }
  }

  &.-product {
    .card {
      grid-template-rows: auto;
      max-height: unset !important;

      > div {
        &.features {
          padding-bottom: 115px;
        }

        &.-flex-h,
        &.card-footer {
          position: absolute;
          left: 0;
          right: 0;
        }

        &.-flex-h {
          bottom: 61px;
        }

        &.card-footer {
          bottom: 0;
        }
      }
    }
  }

  &.-single-product {
    display: flex;
    .card {
      flex: 1 1 33.33%;
      max-width: 33.33%;

      @include tablet {
        flex: 1 1 50%;
        max-width: 50%;
      }

      @include mobile {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }

  .swiper-container {
    margin: 0 -10px;
    padding-bottom: 1px;
    height: 100%;
    overflow: hidden;
  }

  .swiper-wrapper {
    display: flex;
    width: 100%;
    transition-property: transform;
    will-change: transform;
  }

  .swiper-slide {
    padding: 0 9px;
    display: flex;
    flex: 1 0 33.33%;
    max-width: 33.33%;
    width: 100%;
    height: auto;
    box-sizing: border-box;

    @include tablet {
      flex: 1 0 50%;
      max-width: 50%;
    }
    @include mobile {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }

  .swiper-pagination {
    margin: 0;
    display: flex;

    @include mobile {
      display: none;
    }

    .swiper-pagination-bullet {
      position: relative;
      margin-left: 1rem;
      width: 15px;
      height: 15px;
      background: #ced6de;
      border-radius: 100%;
      cursor: pointer;
      @include expand-tappable-area(30%);

      &:hover, &:focus {
        background: #b0bdc9;
      }

      &-active, &-active:hover, &-active:focus {
        background: #ec6409;
      }
    }
  }

  &-two-column {
    .swiper-slide {
      @include desktop {
        flex: 1 0 50%;
        max-width: 50%;
      }
    }
  }
  &-one-column {
    .swiper-slide {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }
}

//TODO: Delete if unneсessary styles
.-v-height {
  height: 100%;
}

.tabs__panel {
  @include mobile {
    .carousel {
      &.-product {
        .card {
          &.-v-height {
            max-height: 640px !important;
          }
        }
      }
    }
  }
}



