.media-gallery {
  &__content {
    background: transparent;
  }

  &__tabs {
    margin-top: 5px;

    @include mobile {
      margin-top: 0;
    }

    &.with-colour-picker button {
      @include mobile-tablet {
        flex-direction: column;

        & .icon {
          margin-right: 0!important;
        }
      }
    }
  }
}

.image-carousel {
  position: relative;

  .gallery-select-color-btn {
    display: flex;
    align-items: center;
    padding-left: 15px;
    position: absolute;
    left: 0;
    bottom: 26px;
    width: 140px;
    height: 40px;
    border-radius: 0 48px 48px 0;
    background: #FFFFFF 0 0 no-repeat padding-box;
    z-index: 1;
    cursor: pointer;
    @include mobile {
      bottom: 18px;
      width: 120px;
    }
    .icon {
      height: auto;
      display: flex;
      width: 20px;
    }
    .text {
      @include mobile {
       font-size: 12px;
      }
      font-weight: bold;
    }
  }

  &__fs-toggle {
    position: absolute;
    right: 5px;
    bottom: 0;
    z-index: 1;
  }

  .swiper-slide {
    .image {
      position: relative;
      width: 100%;

      &:before {
        content: '';
        display: block;
        width: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .swiper-container {
    .swiper-slide {
      display: flex;
      width: 100%;

      .image:before {
        padding-top: 56.277%;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: auto;
      height: auto;

      &:after {
        font-size: 35px;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 0 0 7px rgba(0, 0, 0, .55);
      }

      @include mobile-tablet {
        &:after {
          font-size: 27px;
        }
      }
    }

    .swiper-button-prev {
      left: 20px;

      @include mobile-tablet {
        left: 16px;
      }
    }

    .swiper-button-next {
      right: 20px;

      @include mobile-tablet {
        right: 16px;
      }
    }
  }

  .swiper-container.thumbnails {
    margin-top: 3px;

    @include mobile-tablet {
      display: none;
    }

    .swiper-slide {
      display: flex;
      width: 150px;
      opacity: .5;

      &:not(:last-child) {
        margin-right: 3px;
      }

      .image:before {
        padding-top: 54%;
      }
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  .swiper-button-disabled {
    display: none;
  }
}

.imaca-viewer {
  &__container {
    background: $white;
  }

  &__inner {
    position: relative;
  }

  &__viewer {
    position: relative;
  }

  &__configurator {
    overflow: hidden;

    .loading-bars {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 80px;
      height: 80px;
      transition: opacity 0.5s ease;
      pointer-events: none;

      @keyframes loading-bars {
        0% {
          top: 8px;
          height: 64px;
        }
        50%, 100% {
          top: 24px;
          height: 32px;
        }
      }

      div {
        position: absolute;
        left: 8px;
        display: inline-block;
        width: 16px;
        background: #fff;
        animation: loading-bars 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
        pointer-events: none;

        &:nth-child(1) {
          left: 8px;
          animation-delay: -0.24s;
        }

        &:nth-child(2) {
          left: 32px;
          animation-delay: -0.12s;
        }

        &:nth-child(3) {
          left: 56px;
        }
      }
    }

    &.-upscale {
      canvas {
        image-rendering: high-quality;
        transform: translateY(-8%) scale(1.25);
      }
    }
  }

  &__hint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    font-size: $font-size-400;
    font-weight: $font-weight-medium;
    color: $white;
    background: rgba(0, 0, 0, .5);
    pointer-events: none;

    .icon {
      margin-right: 10px;
    }

    @include mobile {
      font-size: $font-size-300;
    }
  }

  &__controls {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    pointer-events: none;
    z-index: 1;

    @include tablet {
      left: 15px;
      right: 15px;
      padding-left: 15px;
    }

    @include mobile {
      position: static;
      margin-top: 0;
      padding: 9px 15px;
      border-top: 1px solid darken($medium, 10%);
      background: $white;
    }
  }

  &__colours-toggle {
    margin-right: auto;
    pointer-events: auto;
  }

  &__fs-toggle {
    margin-left: auto;
    pointer-events: auto;
  }

  &__color-selection {
    margin-top: 3px;

    @include mobile {
      margin-top: 0;
      border-bottom: none;
    }
  }

  &__disclaimer {
    width: 100%;
    max-width: none !important;
    padding: 7px 10px 14px;
    text-align: center;
    user-select: none;

    @include tablet {
      padding: 5px 10px 10px;
      font-size: $font-size-200;
    }

    @include mobile {
      padding: 7px 16px 14px;
      font-size: $font-size-300;
    }
  }

  &--fs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include desktop {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @include tablet {
      @media (max-height: 576px) {
        padding: 0 4.7rem;
      }
    }

    @include mobile {
      @media (max-height: 414px) {
        padding: 0 4.7rem;
      }
    }

    .imaca-viewer {
      &__container {
        display: flex;
        flex-direction: column;
        width: 1420px;
        max-height: 100%;
      }

      &__configurator {
        display: flex;

        & > * {
          display: flex;
          justify-content: center;
        }

        &.-upscale {
          canvas {
            transform: translateY(-6%);
          }

          @include mobile {
            canvas {
              transform: translateY(-8%) scale(1.25);
            }
          }
        }
      }

      &__disclaimer {
        @include tablet {
          padding-bottom: 14px;
          font-size: $font-size-300;
        }
      }
    }
  }
}


.imaca-viewer-placeholder {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background: $white;
}

.colours-toggle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-400;
  font-weight: $font-weight-black;
  color: $darker;
  cursor: pointer;

  &__icon {
    display: inline-flex;
    height: auto;
    margin-right: 10px;
  }
}

.fs-toggle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba($white, $opacity-500);
  backdrop-filter: blur(2px);
  cursor: pointer;

  &.-transparent {
    background: transparent;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .7));
    backdrop-filter: none;
  }

  @include mobile {
    width: 38px;
    height: 38px;
  }

  &__icon {
    --class-fs: #{$font-size-500};
    display: inline-flex;
    height: auto;
  }
}

