.media-gallery {
  &__content {
    background: transparent;
  }

  &__tabs {
    margin-top: 5px;

    @include mobile {
      margin-top: 0;
    }
  }

  .swiper-slide {
    .image {
      position: relative;
      width: 100%;

      &:before {
        content: '';
        display: block;
        width: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .swiper-container {
    .swiper-slide {
      display: flex;
      width: 100%;

      .image:before {
        padding-top: 56.277%;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: auto;
      height: auto;

      &:after {
        font-size: 35px;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 0 0 7px rgba(0, 0, 0, .55);
      }

      @include mobile-tablet {
        &:after {
          font-size: 27px;
        }
      }
    }

    .swiper-button-prev {
      left: 20px;

      @include mobile-tablet {
        left: 16px;
      }
    }

    .swiper-button-next {
      right: 20px;

      @include mobile-tablet {
        right: 16px;
      }
    }
  }

  .swiper-container.thumbnails {
    margin-top: 3px;

    @include mobile-tablet {
      display: none;
    }

    .swiper-slide {
      display: flex;
      width: 150px;
      opacity: .5;

      &:not(:last-child) {
        margin-right: 3px;
      }

      .image:before {
        padding-top: 54%;
      }
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}

.color-selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.5rem;
  max-height: 2.5rem;
  margin-top: -2.5rem;
  background: $white;
  width: max-content;
  position: relative;
  top: -1rem;
  z-index: 97;
  border-top-right-radius: $border-radius-medium;
  border-bottom-right-radius: $border-radius-medium;

  &:hover &--swatches {
    position: static;
    opacity: 1;
    pointer-events: initial;
  }

  &:hover &--wheel {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &:hover .icon {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  > :not(.icon) {
    left: 0;
    transition: opacity 250ms cubic-bezier(0.17, 0.17, 0, 1);
    margin-left: 1rem;
  }

  &--swatches {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1.75rem;
    gap: .25rem;
    opacity: 0;
    pointer-events: none;
    padding-right: 1rem;

    > * {
      cursor: pointer;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: $border-radius-round;
      background-color: var(--c);
      transition: filter 150ms cubic-bezier(0.17, 0.17, 0, 1);
      filter: brightness(1) saturate(1);

      &:hover,
      &:focus {
        filter: contrast(0.375) saturate(1.375);
      }
    }
  }

  &--wheel {
    height: 1.75rem;
    width: 1.75rem;
    background: url('https://upload.wikimedia.org/wikipedia/commons/3/38/BYR_color_wheel.svg');
    background-position: center;
    background-size: 1.75rem 1.75rem;
    filter: contrast(0.75) brightness(1.125) contrast(1.125) saturate(1.125);
    opacity: 1;
    pointer-events: initial;
  }

  @include mobile {
    @include margin-inline(-$rem-400)
  }
}
