.search {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  .label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    visibility: visible;
    white-space: nowrap;
  }

  &-input,
  &-native {
    line-height: 1.125rem;
    height: $height-large;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    font-size: $font-size-400;
    font-weight: $font-weight-regular;
    letter-spacing: 0;
    appearance: none;
    border: none;
    border-radius: $border-radius-small;
    padding: 0 3rem;
    color: $black;
    text-overflow: ellipsis;
    width: 100%;
    order: 1;
    transition: border-color $duration-small $transition-soft,
      box-shadow $duration-small $transition-soft;
    border: 1px solid $border-color;
    background: $white;
  }

  &-input:focus,
  &-native:focus {
    box-shadow: $box-shadow-focus rgba($teal, $opacity-300);
    border-color: $teal;
  }

  &-input::placeholder,
  &-native::placeholder {
    color: $dark;
    font-weight: $font-weight-regular;
  }

  &-input::-ms-clear,
  &-native::-ms-clear {
    display: none;
  }

  &-input[disabled],
  &-native[disabled] {
    color: $medium;
    border: 1px solid $medium;
    cursor: not-allowed;
  }

  &-input[disabled]::placeholder,
  &-native[disabled]::placeholder {
    color: $medium;
    font-weight: $font-weight-regular;
  }

  &-input[disabled] ~ .magnifier,
  &-native[disabled] ~ .magnifier {
    color: $medium;
  }

  .magnifier {
    z-index: 2;
    position: absolute;
    height: 1.25em;
    width: 1.25em;
    left: 1.5em;
    transform: translate(-50%, -50%);
    top: 50%;
    color: $dark;
    pointer-events: none;

    :focus-within &,
    :focus &,
    :active & {
      color: $teal;
    }

    svg {
      fill: currentColor;
    }
  }

  &-close {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    display: inline-block;
    background: none;
    appearance: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: -2px;
    position: absolute;
    right: 0;
  }

  &-close::-moz-focus-inner {
    border: 0;
  }

  &-close::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0.0625rem;
    height: calc(100% - 2px);
    width: 2px;
    background-color: transparent;
    transition: background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
  }

  &-close:hover {
    border-color: transparent;
  }

  &-button {
    flex-shrink: 0;
    margin-left: 0.125rem;
    background-color: transparent;
  }

  &-button .icon {
    vertical-align: middle;
    color: currentColor;
  }

  &-close,
  &-button {
    opacity: 0;

    :focus + &,
    :hover + & {
      opacity: 1;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 110ms cubic-bezier(0.2, 0, 0.38, 0.9),
      background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9),
      outline 110ms cubic-bezier(0.2, 0, 0.38, 0.9),
      border 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
    cursor: pointer;
    visibility: visible;
    height: 3rem;
    width: 3rem;
    color: $teal;
    border-style: solid;
    border-color: transparent;
    border-width: 1px 0;
  }

  &-close:hover,
  &-button:hover {
    background-color: transparent;
  }

  &-close:active,
  &-button:active {
    background-color: transparent;
  }

  &-close:hover::before {
    background-color: transparent;
  }

  &-close:focus::before,
  &-close:active::before {
    background-color: transparent;
  }

  &-close--hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.-results &-input,
  &-native {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--results {
    padding: 0 !important;

    &--ul {
      > * {
        padding: $rem-400;
        display: grid;
        grid-template-columns: max-content auto;
        gap: $rem-500;
        cursor: pointer;
        color: $darker;

        mark {
          background: rgba($orange, $opacity-200);
          color: $black;
          font-weight: $font-weight-medium;
        }

        &:hover {
          background: $lighter;
          color: $black;
        }

        &:before {
          content: 'Q:';
          font-size: $font-size-500;
          color: $dark;
          font-weight: $font-weight-light;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $lighter;
        }
      }
    }
  }
  &--spacer {
    padding: $rem-400;

    .text {
      margin-right: 0.25rem;
    }
  }
}
