// Hero Prompt
.hero-prompt {
    display: inline-flex;
    padding: 9px 0 9px 30px;
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
    box-shadow: 0 4px 16px -8px rgba(10, 13, 16, 0.1), 0 18.1px 36.2px rgba(10, 13, 16, 0.04) !important;
    border-radius: 0.375rem;
    backdrop-filter: blur(8px);
    position: relative;
    z-index: 1;
    top: -57px;
    p {
      padding: 0 30px 0 0;
    }
    .button {
      border-radius: 0.25rem;
      margin: 0 10px;
      .button--inner {
        padding: 0 34px;
      }
    }
  }
  @media (min-width:901px) and (max-width:1201px){
    .hero-prompt {
      p {
        padding: 0 20px 0 0;
      }
    }
  }
  @media (max-width:900px){
    .hero-prompt {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      top: -32px;
      padding: 9px 10px 12px;
      p {
        padding: 0 0 10px 0;
      }
    }
  }