.heading {
  display: block;
  color: var(--class-color);
  font-size: var(--class-fs);

  &.-xsmall {
    text-transform: uppercase;
    letter-spacing: $letter-spacing-wide;
    font-weight: $font-weight-semibold;
    line-height: calc(1em + 0.15rem);
  }

  &.-small {
    text-transform: uppercase;
    letter-spacing: $letter-spacing-wide;
    font-weight: $font-weight-semibold;
    line-height: calc(1em + 0.15rem);
  }

  &.-regular {
    font-weight: $font-weight-semibold;
    font-size: 1.125rem;
    line-height: calc(1em + 0.375rem);
  }

  &.-lead {
    font-weight: $font-weight-semibold;
    line-height: calc(1em + 0.375rem);
  }

  &.-large {
    letter-spacing: -0.125px;
    font-weight: $font-weight-semibold;
    line-height: calc(1em + 0.25rem);
  }

  &.-xlarge {
    letter-spacing: $letter-spacing-narrow;
    font-weight: $font-weight-regular;
    font-family: $font-family-heading;
    line-height: 1.15;

    @include pseudo(before) {
      position: static;
      height: 0;
      width: 0;
      margin-top: calc(((1em + 0.5rem) * -0.5) + 1ex);
    }

    &.-black {
      @include ambient-light(0.93, 0.84, 1);
    }
  }

  &.-center {
    text-align: center;
  }

  @include colour-selector(-primary, $black, colour);
  @include colour-selector(-secondary, dark, contrast);
}
