.image {
  position: relative;
  display: block;

  &:not(.-plain) {
    filter: contrast(0.9) saturate(1.05);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0 0 0 1px rgba($darker, $opacity-300);
      border-radius: $border-radius-xsmall;
    }
  }

  &--native {
    display: block;
    border-radius: $border-radius-xsmall;
    background: $dark;

    .-plain & {
      border-radius: 0;
      background: unset;
    }
  }

  &--caption {
    position: absolute;
    left: 0;
    right: 0;
    background: rgba($black, 0.75);
    padding: 0.5ch 1ch;
    color: $white;
    text-align: center;

    > .heading {
      font-size: 0.75rem;
    }

    &.-top {
      border-top-left-radius: $border-radius-xsmall;
      border-top-right-radius: $border-radius-xsmall;
      top: 0;
    }

    &.-bottom {
      border-bottom-left-radius: $border-radius-xsmall;
      border-bottom-right-radius: $border-radius-xsmall;
      bottom: 0;
    }
  }

  &.-overlay {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.75;
      background: linear-gradient(
        to bottom,
        rgba($darker, 0) 0%,
        rgba($darker, 0.004) 11.7%,
        rgba($darker, 0.016) 22.4%,
        rgba($darker, 0.034) 32.2%,
        rgba($darker, 0.058) 41.1%,
        rgba($darker, 0.086) 49.3%,
        rgba($darker, 0.116) 56.7%,
        rgba($darker, 0.149) 63.4%,
        rgba($darker, 0.181) 69.5%,
        rgba($darker, 0.214) 75%,
        rgba($darker, 0.244) 80.1%,
        rgba($darker, 0.272) 84.7%,
        rgba($darker, 0.296) 88.9%,
        rgba($darker, 0.314) 92.9%,
        rgba($darker, 0.326) 96.5%,
        rgba($darker, 0.33) 100%
      );
    }
  }

  &.-bordered:not(.-plain) {
    border: 1px solid $border-color;
  }

  &.-expand > * {
    height: auto;
    width: 100% !important;
  }

  &.-expand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &.-round:not(.-plain),
  &.-round:not(.-plain):after,
  &.-round:not(.-plain) > * {
    border-radius: $border-radius-circle;
  }

  &.-inline {
    display: inline-block;
  }

  &.-xsmall,
  &.-small,
  &.-regular,
  &.-large,
  &.-xlarge {
    &,
    & > * {
      height: auto;
      width: calc(var(--class-sz) * 2);
    }

    &.-round,
    &.-round > * {
      height: calc(var(--class-sz) * 2);
    }
  }

  &.-square,
  &.-square > * {
    max-height: 10rem;
    max-width: 10rem;
  }
}

// using for prevent layout shifts
.imgPlaceholderWrapper {
  min-height: 228px;
}
