/// @name config
$track-size: 0.75rem;

/// @name styles

.sliding-input {
  text-align: center;
  transition: filter 150ms $transition-strong;
  
  &:hover {
    filter: brightness(0.9) contrast(1.1) saturate(1.1);
  }
  
  &-handle {
    background: $darker;
    height: $track-size*2.25;
    border-radius: $border-radius-xsmall;
    min-width: $track-size*1.5;
    box-shadow: $box-shadow-header;
    z-index: 10;
  }
  &-step {
    font-size: $font-size-200;
    
    &:after {
      height: 6px;
      width: 1px;
      background: $medium;
    }
  }
  &-fill, &-value {
    height: $track-size;
    border-radius: $border-radius-small;
    border: 1px solid transparent;
  }
  &-fill {
    background: $light;
    border-color: $medium;
  }
  &-value {
    background: $promo-gradient;
    border-color: $black;
    border: unset;
  }
}

/// @name presentation-structure

.sliding-input {
  display: grid;
  grid-template-columns: [track-start labels-start] repeat(var(--length,8), 1fr) [track-end labels-end];
  grid-template-rows: [track] auto [labels] auto;
  grid-auto-flow: column;
  place-items: center;
  cursor: pointer;
  place-content: center;

  &.disabled {
    opacity: 0.8;
  }
  
  &-handle,
  &-fill,
  &-value {
    grid-row: track;
  }
  &-step {
    grid-row: labels;
    cursor: pointer;
    position: relative;
    
    &:after {
      position: absolute;
      top: -6px;
      left: calc(50% - 1px);
      display: block;
      content: '';
    }
  }
  &-handle {
    grid-column: var(--value,4);
    pointer-events: none;
  }
  &-fill,
  &-value {
    min-width: 100%;
  }
  &-fill {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(calc(var(--length,16)*2), 1fr);
    grid-auto-flow: column;
  }
  &-value {
    display: block;
    grid-column: 1 / calc((var(--value,4)*2));
    margin: -1px;
  }
}