/// @name config
$image-height: 240px;
$image-width: var(--img-w, 200px);
$card-padding: $rem-300;
$card-gap-inline: $rem-300;
$card-gap-block: $rem-300;
$header-height: 26px;
$content: ':not([class*="card-"])';
$small: 0.875rem;

.card {
  position: relative;
  display: grid;
  place-content: start;
  min-height: $card-padding;
  width: 100%;
  overflow: hidden;
  border-radius: $border-radius-medium;
  box-shadow: inset 0 -4px 0 -2px $medium, inset 0 0 0 1px $medium;
  background: $white;
  gap: 0 $card-gap-inline;
  grid-auto-flow: row;
  text-align: left;

  &.-blogCarouselCard {
    box-shadow: none;
    border-radius: 4px;

    & .extras {
      justify-content: flex-start;

      & span {
        width: auto;
        padding: 6px 8px;
        margin-bottom: 3px;
        margin-top: 0 !important;

        &.transparent {
          background: transparent;
        }

        &:not(:last-child) {
          margin-right: 12px;
        }
      }

      & span.hotOffer {
        background: #F26500;
        color: white;
        letter-spacing: 0.24px;
        font-weight: bold;
        font-size: 12px;

        & svg {
          fill: white;
        }
      }
    }

    & .button--inner {
      border-radius: 4px;
      padding: 0.73rem 2.063rem;
    }

    & img {
      border-radius: 4px;
    }

    & .price--pounds {
      font-size: 28px;
    }

    & .price {
      align-self: end;
    }

    @include mobile {
      grid-template-columns: [content-start] repeat(4, minmax(0, 1fr)) [content-end];
    }
  }

  &.helper {
    & .card-header {
      z-index: 1;
      width: auto!important;
      grid-column-start: 1;
      justify-self: flex-start;
      margin-top: 9px!important;
      margin-left: 9px!important;
      border-radius: 4px;


      & div:not(.hot-offer) {
        display: none;
      }

      & .hot-offer {
        padding: 3px 8px 3px 6px!important;

        & .icon svg {
          top: 0!important;
        }

        & span {
          display: block!important;
          margin-left: 5px;
          line-height: 0;
        }
      }

      @media (max-width: 1215px){
        justify-self: stretch;
        margin-top: 0px !important;
        margin-left: 0px !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        & div:not(.hot-offer) {
          display: flex;
        }
      }
    }
  }

  // Core layout -> mobile/tablet
  @include mobile-tablet {
    grid-template-columns: 0 [content-start] repeat(4, minmax(0, 1fr)) [content-end] 0;
    grid-template-rows:
      minmax(0, auto)
      minmax(0, auto)
      [content] minmax(0, 1fr)
      [content] repeat(auto-fit, minmax(1rem, auto))
      minmax(0, auto);

    > .card-header {
      grid-area: span 1 / 1 / span 1 / -1;
    }
    > .card-footer {
      grid-area: span 1 / 1 / span 1 / -1;
      place-self: end stretch;
    }
    > .card-image {
      grid-area: span 1 / 1 / span 1 / -1;
    }

    &.-inline {
      // Model version of inline card
      &.-model {
        gap: 0 1.125rem;

        .-flex-h {
          margin: 1.125rem 0;

          .price {
            &--label {
              &:last-child {
                font-size: .75rem;
              }
            }
          }

          .button {
            &--inner {
              padding: 0 18px;
            }
          }
        }
      }
    }
  }

  // Core layout -> desktop
  @include desktop {
    // Block direction -> .-block (default)
    &.-block,
    &:not(.-inline) {
      grid-template-columns: 0 [content-start] repeat(4, minmax(0, 1fr)) [content-end] 0;
      grid-template-rows:
        minmax(0, auto)
        minmax(0, auto)
        minmax(0, auto) minmax(0, 1fr)
        [content] repeat(auto-fit, minmax(1rem, auto))
        minmax(0, auto);

      > .card-header {
        grid-area: span 1 / 1 / span 1 / -1;
      }

      > .card-footer {
        grid-area: span 1 / 1 / span 1 / -1;
        place-self: end stretch;
      }

      > .card-image {
        grid-area: span 1 / 1 / span 1 / -1;
      }
    }
    // Inline direction -> .-inline
    &.-inline {
      grid-template-columns: minmax(0, #{$image-width}) [content] minmax(0, 1fr) 0;
      grid-template-rows: repeat(auto-fit, minmax(0, auto));
      place-self: start;

      > .card-header {
        grid-area: 1 / 1 / 1 / -1;

        + .card-image {
          grid-area: 2 / 1 / -1 / content;
        }
      }

      > .card-footer {
        grid-area: -2 / content / -2 / -2;
        place-self: end stretch;
      }

      > .card-image {
        height: $image-width;
        max-width: $image-width;
        grid-area: 1 / 1 / -1 / content;
      }

      // Model version of inline card
      &.-model {
        gap: 0 1.375rem;
        place-self: stretch;
        align-content: stretch;
        grid-template-columns:
          minmax(0, var(--img-w, 50%)) [content] minmax(0, 1fr)
          0;

        .card-image {
          grid-area: 1 / 1 / 8 / content !important;
          width: 100%;
          max-width: inherit;
          height: auto;
        }

        .title {
          margin-top: 1.5rem;
        }

        .-flex-h {
          grid-area: span 1 / content / 8 !important;
          flex-wrap: wrap;
          margin: 1.375rem 0;

          .price {
            min-width: 100%;
            margin-bottom: 1.125rem;

            &--label {
              &:first-child {
                flex: 0 0 auto;
              }
            }
          }

          .button {
            &--inner {
              padding: 0 30px;
            }
          }
        }
      }
    }
  }

  // Predefined areas -> all
  &-header,
  &-image,
  &-footer {
    mix-blend-mode: multiply;
  }

  // Predefined areas -> header
  &-header {
    @include card-flag;
    overflow: hidden;
    white-space: nowrap;
    height: $header-height;
    max-height: $header-height;
    background-color: $darker;
    align-items: stretch;

    @include tablet {
      font-size: 0.7rem;
    }
    @include mobile {
      font-size: 0.6rem;
    }

    &.rounded {
      border-radius: $border-radius-small;
    }

    > :only-child {
      background-image: unset;
      background-color: var(--class-color, #{$darker});
      color: var(--class-color-contrast, #{$white});
    }
  }

  // Predefined areas -> image
  &-image {
    height: $image-height;
    width: 100%;
    background: var(--class-color, #{$black});
    color: transparent;

    &.media {
      height: auto;
    }

    &.-fit {
      object-fit: contain;
    }

    &:not(.-fit),
    &.-cover {
      object-fit: cover;
    }

    &:last-child {
      height: max-content;
    }
  }

  // Predefined areas -> footer
  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $light;
    overflow: hidden;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 50%;
      background: var(--class-color);
      @include padding-block($card-gap-inline);
      font-size: $small;
      font-weight: 500;
      line-height: 1.125rem;
      color: var(--class-color, #{$darker});
      background: $white;
      transition: background 60ms $transition-soft, color 150ms $transition-soft;
      cursor: pointer;

      &:hover:not(:focus) {
        background: $lighter;
      }

      &:active {
        color: var(--class-color-tint, #{$darker});
      }

      &:not(:first-child) {
        border-left: 1px solid $light;
      }

      .icon {
        font-size: 1.125rem;
        position: relative;
        vertical-align: bottom;
        bottom: 0.125em;
      }
    }

    .button.-expand.-clear:focus:not(:hover) {
      background: transparent;
    }

    @media (pointer: fine) {
      .button.-expand.-clear:hover {
        background: #f3f5f7;
      }
    }

    @media (pointer: coarse) {
      .button.-expand.-clear {
        background: transparent;
      }
    }
    -webkit-tap-highlight-color: rgba(243, 245, 247, 0.4);
  }

  // Predefined areas -> content
  > #{$content} {
    grid-area: span 1 / content;

    &:first-child {
      margin-top: $card-padding;
    }

    &:last-child {
      margin-bottom: $card-padding;
    }

    &:only-child {
      grid-row: 1/-1;
      grid-column: 1/-1;
    }
  }

  > #{$content} + *,
  > * + #{$content} {
    margin-top: $card-gap-block;
  }

  // Tweaks -> pin last child to bottom (default)
  > :last-child:not(.card-footer):not(.card-image) {
    grid-area: -1 / content;
  }

  /*   // Tweaks -> pin last child to bottom (when image exists)
    > .card-image ~ :last-child:not(.card-footer) {
      grid-area: -2 / content;
    } */

  // Tweaks -> adjust button vertical alignment
  .price + .button {
    margin-top: auto;
    position: relative;
    z-index: 1;
  }

  // Tweaks -> skeleton (pre-load) styling
  &.-skeleton {
    box-shadow: inset 0 -4px 0 -2px $light, inset 0 0 0 1px $light;

    > :not(.card-image) {
      opacity: 0.34;
    }

    .card-image {
      background-color: $medium;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Tweaks -> allow overflow for review author
  &.-overflow {
    overflow: visible;
  }

  // Tweaks -> reduce excessive line-height
  > :not(.price) {
    line-height: calc(1em + 0.375rem);
  }

  // Tweaks -> prevent .-flex-h horizontal misalignment
  > .-flex-h {
    --owl-gap: 0;
  }

  // Widgets -> expanded price information (for OLAF)
  .price-expanded,
  &--price-expanded {
    display: grid;
    gap: $card-gap-inline;
    place-items: center start;

    @include desktop {
      grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
    }
    @include mobile-tablet {
      grid-template-columns: minmax(0, 1fr);
      grid-auto-flow: row;
    }
  }

  // Widgets -> title
  .title,
  &--title {
    > .heading + .heading,
    > .heading + .rating {
      margin-top: 0.375rem;
    }

    > .heading:first-of-type:before {
      content: '';
      display: block;
      height: 0;
      margin-top: calc(((1em + 0.5rem) * -0.5) + 1ex);
      width: 0;
    }

    > a[href]:first-of-type {
      white-space: normal;
      word-break: break-word;
      @include pseudo(after) {
        will-change: opacity;
        opacity: 0;
        border-radius: $border-radius-medium;
        background: bezier-gradient($lighter, 0.125, 300);
        border: 1px solid rgba($black, 0.2);
        transition: opacity 50ms $transition-soft;
        pointer-events: all;
        cursor: default;
      }

      &:focus {
        color: $teal;
      }

      &:hover:after,
      &:active:after,
      &:focus:after {
        opacity: 1;
      }
    }

    .button {
      &.-round {
        .icon {
          height: auto;
          display: flex;
        }
      }
    }
  }

  &.breakdown {
    .card-image {
      background: transparent;
      height: var(--img-w, 220px);
      object-fit: cover;
      @include mobile-tablet {
        object-fit: contain;
      }
    }

    .card-image ~ :last-child:not(.card-footer) {
      grid-area: 2 / content;
      @include mobile-tablet {
        grid-area: inherit;
      }
    }

    .title {
      span:nth-child(2) {
        text-transform: none;
      }
    }
  }

  // Widgets -> features (specs)
  .features,
  &--features {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-column: 1 / -1;
    color: $dark;
    margin-top: auto;

    .icon {
      font-size: 2.5rem;
      max-height: 2.5rem;
    }

    .text {
      display: block;
      // font-size: $small;
      font-weight: 500;
      // line-height: 1.25;
      word-break: break-word;
      text-align: center;
      margin: $rem-100 auto;
      // max-width: 75%;

      // @mixin TODO_8 {
      font-size: 0.8rem;
      line-height: 1.125;
      max-width: 80%;
      // }
    }

    > * {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include padding-block($rem-100);

      &:not(:first-child) {
        border-left: 1px solid $light;
      }
    }
  }

  .review-text,
  &--review-text {
    min-height: 66px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  // Widgets -> author name banner
  .review-author,
  &--review-author {
    background: linear-gradient(
                    to right,
                    $orange 0%,
                    hsl(27.06, 82.58%, 50.9%) 64.7%,
                    $orange 100%
    );
    padding: 1ch calc(#{$card-padding} + 0.5rem) 1ch calc(#{$card-padding} + 0.5rem);
    margin-left: -0.5rem;
    max-width: max-content;
    grid-column: 1 / -1 !important;
    color: $white;
    line-height: 1em;
    position: relative;
    z-index: 1;

    &:after {
      content: '';
      display: block;
      position: absolute;
      background: linear-gradient(
                      to top,
                      darken($orange, $shade) 0.5rem,
                      $orange 0.5rem
      );
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 0.5rem));
      height: calc(100% + 0.5rem);
      width: 0.5rem;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  // Widgets -> quotation mark decal
  .review-decoration:after,
  &--review-decoration:after {
    content: '”';
    display: block;
    font-size: 8rem;
    line-height: 1em;
    color: $light;
    opacity: 1;
    position: absolute;
    bottom: -3.75rem;
    right: $card-padding;
    z-index: 0;
  }

  // Widgets -> top-right corner button
  .corner-button,
  &--corner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    grid-area: unset !important;
    margin: unset;
    font-size: 1.25rem;
    border-radius: 0;
    z-index: 99;
    pointer-events: all;
    border-top-right-radius: $border-radius-small;
    border-bottom-left-radius: $border-radius-medium;
    height: 1.75rem;
    width: 1.75rem;
    color: $white;
    cursor: pointer;

    @include tablet-desktop {
      background: $orange;
    }
    @include mobile {
      background: rgba($orange, 0.8);
    }

    &:hover,
    &:focus {
      background: darken($orange, $shade);
    }
  }

  // Widgets -> vehicle specification list
  .spec-list,
  &--spec-list {
    display: grid;

    @include mobile {
      grid-template-columns: minmax(0, 1fr);
      grid-auto-rows: auto;
      gap: 0.5ch;
    }

    @include tablet-desktop {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-auto-rows: auto;
      gap: 0.5ch 1ch;
    }

    > hr {
      grid-column: 1 / -1;
      max-width: unset;

      ~ * {
        font-weight: 500;
        color: $black;
      }
    }
  }

  &.-inline.-model {
    .-flex-h {
      .price {
        font-size: 1.75rem;
        font-weight: 600;

        &--label {
          &:first-child {
            margin-right: 4px;
            font-size: .75rem;
            font-weight: 700;
          }

          &:last-child {
            line-height: 1;
            font-weight: 500;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  &.-inline.-compact {
    .card-header {
      margin: 1px 0 0 1px;
      border-top-left-radius: 0.35rem;
      mix-blend-mode: unset;
      position: relative;

      > div {
        &:only-child {
          text-align: center;
          background: linear-gradient(to top, #a24406 0.5px, #ec6409 0.5px, #ec6409);
          justify-content: center;
        }
      }

      .icon {
        font-size: 1.25rem;
        margin-right: 0.4ch;
        top: auto;

        svg {
          position: relative;
          top: -3px;
        }
      }
    }

    .card-image {
      margin: 1px 0 0 1px;
      mix-blend-mode: unset;
    }

    @include tablet-desktop {
      height: 100%;
    }

    @include mobile-tablet {
      .card-header {
        margin: 1px 1px 0;
      }
      .card-image {
        width: calc(100% - 2px);
        margin: 1px auto 0;
      }
      .card-header,
      .card-image {
        border-top-left-radius: 0.35rem;
        border-top-right-radius: 0.35rem;

        + .card-image {
          border-radius: unset;
          margin-top: 0;
        }
      }
    }

    @include desktop {
      --img-w: 200px;
      .card-header {
        width: 200px;
        grid-area: 1 / 1 / -1 / content;

        > div {
          padding: 3px 10px;

          span {
            display: none;
          }

          &:only-child {
            span {
              display: inline-block;
            }
          }

          &:not(:only-child) {
            &:last-of-type {
              padding: 3px 3px 3px 0;
            }
          }
        }
      }
      .card-image {
        grid-area: 1 / 1 / -1 / content;
        min-width: 200px;
        width: 200px;
        height: auto;
        border-top-left-radius: 0.35rem;
      }
    }
  }

  &.-vehicle-type {
    grid: none;
    gap: unset;
    display: flex;
    align-items: flex-end;

    &.-wishlist-card-container {
      align-items: center;
    }

    .copy {
      width: 100%;
      margin: 0;
      padding: 22px 10px 12px 2px;
      @include tablet-desktop {
        padding: 26px 10px 12px 20px;
      }
      @include tablet {
        padding-left: 16px;
      }

      .heading {
        margin-bottom: 20px;
      }

      .-flex {
        width: 100%;
        align-items: center;

        .-flame {
          position: relative;
          top: -2px;
        }

        .text {
          flex: 1 1 auto;
          font-weight: bold;
          padding-right: 10px;
          white-space: nowrap;
          overflow: hidden;
        }

      }
    }

    .card-image {
      width: 120px;
      height: calc(100% - 2px);
      border-top-left-radius: 0.35rem;
      border-bottom-left-radius: 0.35rem;
      object-fit: contain;
      background: transparent;
      @include tablet-desktop {
        width: 150px;
      }
    }

    .button {
      &.-round {
        > div {
          transform: scale(0.8);
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
        }
      }
    }

    @include mobile {
      &:not(:first-of-type) {
        margin-top: 0.5rem !important;
      }
    }
  }

  &.product {
    display: block !important;

    .extras,
    .title,
    .-flex-h {
      margin-left: 16px;
      margin-right: 16px;
    }

    .title {
      margin-bottom: 265px;
    }

    .features,
    .-flex-h,
    .card-footer {
      position: absolute;
      left: 0;
      right: 0;
    }

    .features {
      bottom: 122px;
    }

    .-flex-h {
      bottom: 59px;
    }

    .card-footer {
      bottom: 0;
    }

    .card-header.-brand {
      display: flex;

      > .text {
        padding-right: 0;
        flex-grow: 1;
        white-space: nowrap;
      }

      > :last-child {
        padding-left: 0;
      }

      @include mobile-tablet {
        > * {
          padding-left: 1.1ch;
          padding-right: 1.1ch;
        }

        > :last-child {
          .icon svg {
            width: 86px;
          }
        }
      }

      @include mobile {
        > :last-child {
          .icon svg {
            width: 74px;
          }
        }
      }
    }
  }

  &--order {
    .card-image {
      @include desktop {
        height: auto !important;
        max-width: none !important;
      }
    }
  }

  &--details {
    min-height: 112px;
    grid-template-rows: minmax(0, auto) minmax(0, auto) [content] minmax(0, 1fr) [content] repeat(auto-fit, minmax(1rem, auto)) minmax(0, auto)!important;

    .text {
      grid-area: content !important;
    }
  }
}

.extras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 5px);
    height: 22px;
    border-radius: 4px;
    background: #ecf0f5;
    color: #678098;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

    svg {
      position: relative;
      top: -3px;
      margin-right: 3px;
    }

    @include mobile576() {
      width: 100%;
      + * {
        margin-top: 6px;
      }
    }
  }

  &.pdp {
    > * {
      justify-content: left;
      align-items: center;
      background: white;
      padding: 8px 10px 12px;
      height: auto;
      font-size: 14px;
      white-space: normal;

      svg {
        margin-right: 0;
        top: 0;
        width: 100%;
        height: 45%;
      }

      div {
        color: black;

        span {
          display: block;
          font-size: 13px;
          text-transform: none;
          font-weight: 500;
          margin-top: -2px;
          color: #678098;
          line-height: 16px;
        }
      }
      a {
        font-size: $font-size-200;
        text-transform: capitalize;
      }
      i {
        background: #E9EDEF 0 0 no-repeat padding-box;
        opacity: 1;
        border-radius: 100%;
        width: 59px;
        height: 59px;
        margin-right: 15px;
        align-items: center;
        justify-content: center;
        display: flex;
      }
    }
  }

  &.sticky-col {
    @media (max-width: 767px) {
      > * {
        background: #fff;
      }
    }
  }
}

.bf-card-label {
  position: absolute;
  top: 210px;
  left: 0;
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  pointer-events: none;

  &__ear.icon {
    display: inline-flex;
    flex-shrink: 0;
    min-height: 100%;
    height: auto;
    color: #161616;

    svg {
      min-height: 100%;
      width: 15px;
    }
  }

  &__inner {
    display: flex;
    flex: 1 1 auto;
    background: #161616;

    @media (max-width: 984px) {
      max-width: 475px;
    }
  }

  &__badge {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-height: 40px;
    margin: 4px 6px;
    padding: 2px 21px 0;
    text-align: center;
    text-transform: uppercase;

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-flex;
      width: 100%;
      height: 100%;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .text {
      font-size: 1.5rem;
      font-weight: $font-weight-medium;
      font-family: $font-family-heading;
      color: #161616;
      z-index: 1;

      @include mobile-tablet {
        font-size: $font-size-500;
      }

      @media (max-width: 364px) {
        font-size: $font-size-400;
      }
    }
  }

  &__text {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    margin: 3px 4px;
    padding: 0px 4px;
    color: $white !important;
    font-size: 18px !important;
    font-weight: $font-weight-regular;
    font-family: $font-family-heading;
    text-transform: uppercase;
    text-align: center;

    span {
      margin-right: 5px;
      line-height: 1;
      color: #ec6409;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(90deg, #FFFFFF, #FFFFFF 50%, transparent 50%, transparent 100%);
      background-repeat: repeat-x;
      background-size: 10px 1px;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  &--deal {
    top: -56px;
    left: -1rem;
  }

  &.-relative {
    position: relative;
    top: 0;
    justify-content: flex-start;

    .bf-card-label__inner {
      flex: 0 1 auto;
    }
  }
}
