.list {
  display: grid;
  grid-auto-flow: row;
  gap: $rem-300;
  margin: $rem-100 0;

  & > .-custom .icon {
    margin-right: 1ch;
  }

  & > *:not(.-custom) {
    position: relative;
    margin-left: 2.25ch;
  }

  & > *:not(.-custom):before {
    position: absolute;
    left: -2.25ch;
    font-weight: $font-weight-black;
    color: $medium;
    content: '\002013';
  }

  & & {
    margin-left: 2.25ch;
    gap: 0;
    font-size: $font-size-300;
  }
}
