.footer {
  background: $darker;
  color: $white;
  grid-column: full;
  display: grid;
  grid-template-columns: $child-template-full;
  gap: $rem-500 0;
  @include padding-block($rem-500);

  background-color: $darker;
  background-image: soft-gradient($darker, 4%);

  > * {
    grid-column: content;
  }

  &--divider {
    grid-column: full;
    opacity: 0.5;
  }

  &--column {
    @include desktop {
      @include n(1) {
        grid-column: content / quarter 1;
      }
      @include n(2) {
        grid-column: quarter 1 / quarter 2;
      }
      @include n(3) {
        grid-column: quarter 2 / quarter 3;
      }
      @include n(4) {
        grid-column: quarter 3 / content;
      }
    }

    @include tablet {
      @include n(1) {
        grid-column: content / third 1;
      }
      @include n(2) {
        grid-column: third 1 / third 2;
      }
      @include n(3) {
        grid-column: third 2 / content;
      }
      @include n(4) {
        grid-column: content / third 1;
      }
    }

    @include mobile {
      grid-column: content;
    }

    > :not(:last-child) {
      display: block;
      margin-bottom: $rem-500;
    }

    > .heading {
      border-bottom: 2px solid rgba($dark, 0.5);
      padding-bottom: 1ch;
      margin-bottom: 1ch;
    }
  }

  &--social-icons {
    .button {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    .icon {
      fill: currentColor;
    }
  }
}
