// NLOL Hero
.hero--left {
  position: relative;
  background: radial-gradient(#ffffff, transparent 50%);

  &.-clear-background {
    background: none;
  }

  .hero--image {
    margin-top: 0 !important;
    position: relative;
    padding-top: 54.31%;

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      object-fit: cover;
    }
  }
}
/* .hero--decals {
	svg {
	  &:first-of-type {
		display: none;
	  }
	}
  } */
.nlol {
  display: inline-flex;
  flex-direction: column;
  font-family: VA Heading, -apple-system, system-ui, sans-serif;
  transform: skewY(-4deg);
  position: relative;
  z-index: 1;
  left: 60px;
  * {
    position: relative;
    box-shadow: 0 4px 15px 0 rgba(10, 13, 16, 0.2);
    border-radius: 50px;
    margin-top: -0.38rem;
  }
  h2 {
    align-self: center;
    background: #ea6308;
    color: white;
    font-size: 4rem;
    z-index: 1;
    padding: 0.8rem 2.3rem 1rem;
    font-weight: 400;
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      border-radius: 50px;
      border: 1px solid #f37c0c;
    }
  }
  p {
    background: white;
    color: #ea6308;
    font-size: 2.4rem;
    padding: 0.4rem 1.35rem;
    &:first-of-type {
      z-index: 2;
      align-self: flex-start;
      margin-left: 2.2rem;
    }
    &:last-of-type {
      z-index: 0;
      align-self: flex-end;
      margin-top: -2px;
      margin-right: 38px;
      padding-bottom: 0.5rem;
    }
  }
}
.nlol-higlighted-price {
  p {
    align-self: center !important;
  }
  h2 {
    font-size: 1.5rem !important;
    & span {
      font-size: 4rem;
      box-shadow: none;
    }
  }
}
.nlol-free-insurance {
  p {
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1215px) {
  .hero--left {
    padding-top: 0;
    img {
      transform: none;
    }
  }
  .nlol {
    left: 30px;
    h2 {
      font-size: 4vw;
      padding: 0.6rem 2.3rem 0.8rem;
      &:after {
        top: 8px;
        right: 8px;
        bottom: 8px;
        left: 8px;
      }
    }
    p {
      font-size: 2.6vw;
      padding: 0.25rem 1rem;
      &:first-of-type {
        margin-left: 2rem;
      }
      &:last-of-type {
        padding-bottom: 0.32rem;
      }
    }
  }
  .nlol-higlighted-price {
    h2 {
      font-size: 2.4vw !important;
      & span {
        font-size: 4vw;
      }
    }
  }
  .nlol-free-insurance {
    h2 {
      font-size: 3.5vw;
    }
  }
}

.hero--top-header {
  width: 100%;
  padding: 0 0 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .partnership-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    .partnership-logo--heading {
      margin-right: 12px;
      font-family: VA Heading, -apple-system, system-ui, sans-serif;
      font-weight: normal;
      font-size: 1.25rem;
      color: $black;
    }
  }
}

@media (max-width: 767px) {
  .hero--left {
    padding-bottom: 70px;
    img {
      transform: scale(1.1);
    }
  }
  .nlol {
    left: auto;
    padding-bottom: 30px;
    transform: skewY(-4deg) translateY(20px);
    h2 {
      font-size: 2rem;
      &:after {
        top: 8px;
        right: 8px;
        bottom: 8px;
        left: 8px;
      }
    }
    p {
      font-size: 1.3rem;
      padding: 0.2rem 1rem;
      &:first-of-type {
        margin-left: 1.5rem;
      }
      &:last-of-type {
        padding-bottom: 0.32rem;
      }
    }
  }
  .nlol-higlighted-price {
    h2 {
      font-size: 1.3rem !important;
      & span {
        font-size: 2rem;
      }
    }
  }
  .nlol-free-insurance {
    h2 {
      font-size: 1.5rem;
    }
  }
  .hero--top-header {
    .partnership-logo {
      .partnership-logo--heading {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 375px) {
  .hero--left {
    padding-bottom: 40px;
  }
  .nlol {
    h2 {
      font-size: 8.1vw;
    }
  }
  .nlol-higlighted-price {
    h2 {
      & span {
        font-size: 8.1vw;
      }
    }
  }
}

.nlol-small-print {
  color: $darker;
  font-size: 0.6rem;
  position: absolute;
  bottom: 16px;
  @media (max-width: 767px) {
    position: initial;
  }
  & p {
    font-size: 0.6rem;
    position: static;
  }
}

.nlol-small-print-cta {
  display: flex;
  width: 50%;
  .nlol-small-print-section {
    flex-basis: 60%;
    p {
      color: $darker;
      font-size: 0.6rem;
    }
  }
  .nlol-cta-section {
    display: flex;
    flex-basis: 40%;
    justify-content: flex-end;
    position: relative;
    a {
      font-size: 1.15rem;
      font-weight: 600;
      color: $teal;
      margin-top: -5px;
      i {
        position: absolute;
        top: -1px;
        right: -25px;
      }
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    flex-direction: column;
    .nlol-small-print-section {
      flex-basis: 100%;
      margin-bottom: 16px;
    }
    .nlol-cta-section {
      flex-basis: 100%;
      justify-content: flex-end;
      padding-right: 24px;
      margin-bottom: 10px;
      a {
        font-size: 0.9rem;
        position: relative;
        i {
          position: absolute;
          top: 1px;
          right: -25px;
        }
      }
    }
  }
}

.electric-hero {

  &--card {
    text-align: left!important;
    box-shadow: none!important;

    & .button {
      min-width: 139px;
      min-height: 48px;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

   &--title {
     font-size: 39px;
     color: black;
     font-family: VA Heading, -apple-system, system-ui, sans-serif;
     line-height: 50px;
     text-align: left;
     margin-bottom: 12px;
     font-weight: 500;
   }

  &--extras {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    color: #3BBD75;
    text-align: left;
    display: flex;
    align-items: center;

    & i {
      margin-right: 4px;
    }

    & i,
    & svg {
      height: 31px;
      width: auto;
    }
  }

  &--image {
    max-width: 32rem;
  }

  &--description {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
  }

  & .price--label {
    font-size: 12px;
    line-height: 16px;
    color: #44576A;
  }

  & .button {
    font-size: 16px;
  }

  @include mobile {

    &.row\:bg-hero {
      padding-bottom: calc(var(--layout-gap) * 3) !important;
    }

    & .row\:hero .hero--right {
      order: 0;
    }

    &--card {
      margin-bottom: 58px!important;
    }

    &--title {
      font-size: 36px;
      margin-bottom: 8px;
    }

    &--extras {
      font-size: 18px;

      & span {
        margin-right: 4px;
      }

      & i,
      & svg {
        height: 13px;
        width: auto;
        line-height: 13px;
      }
    }

    &--description {
      display: flex;
      justify-content: space-between;
    }
  }
}

.cars-hub-hero {
  &.row\:bg-hero {
    padding-bottom: 30px!important;
  }

  & .cars-hub-hero--title {
    color: #0A0D10;
    font-size: 36px;
    line-height: 42px;
    font-family: $font-family-heading;
    font-weight: normal;
  }

  & .cars-hub-hero--description {
    position: relative;
    padding-right: 165px;

    & p {
      font-size: 16px;
      line-height: 24px;
      color: #43576A;
      text-transform: uppercase;
      font-family: $font-family-body;
      font-weight: bold;

      &:first-child {
        margin-bottom: 7px;
      }
    }

    & h2 {
      font-size: 28px;
      line-height: 20px;
      color: #F26500;
    }

    & a {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 20px;
      line-height: 26px;
      padding: 9px 22px;
      display: inline-block;

      @include mobile {
        position: static;
        margin-top: 6px;
      }
    }

    @include mobile {
      padding-right: 0;
    }
  }

  & .cars-hub-hero--term {
    margin-top: 30px;

    & p {
      font-size: 10px;
      line-height: 12px;
      color: #43576A;
      text-align: left;

      @include mobile {
        text-align: center;
      }
    }
  }
}
