// NLOL competition
.row {
  &\:bg-nlol-competition {
    background: rgb(145,59,8);
    background: linear-gradient(180deg, #963706 0%, #b84808 45%, #953707 84%, #b96d3f 95%, #bb7242 100%);
    position: relative;
    padding-bottom: unset;
    padding-bottom: 0 !important;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('http://benson-batches.s3.amazonaws.com/dist/images/nlol/competition/nlol-composition-lights.png') top left no-repeat;
      background-size: 60%;
      // Mobile
      @media (max-width:767px) {
        background-size: 100%;
      }
    }
    .row\:hero {
      background: none;
   }
    .hero--left {
      background: none;
      padding-bottom: 0;
      h1, h3 {
        position: relative;
        z-index: 1;
        // Desktop
        @media (min-width:1216px) {
          transform: translateX(50px);
        }
      }
      h1 {
        color: white !important;
        // Mobile
        @media (max-width:767px) {
          margin-top: 10px;
        }
      }
      h3 {
        color: #f2bd47 !important;
        font-weight: 500;
        padding-bottom: 30px;
        // Mobile
        @media (max-width:767px) {
          margin: 10px auto 0;
          padding-bottom: 10px;
        }
      }
      // Mobile
      @media (max-width: 767px) {
        .hero--image {
          max-width: unset;
          img {
            transform: none;
          }
        }
      }
    }
  }
}