.map {
  display: block;
  height: auto;
  height: max-content;
  width: 100%;
  border-radius: $border-radius-small;
  border: 1px solid transparent;
  overflow: hidden;
  
  &:focus-within,
  &:focus {
    border-color: $teal;
    box-shadow: $box-shadow-focus rgba($teal, $focus-opacity);
  }
  
  &--container {
    position: relative;
    
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0 0 0 1px rgba($darker, $opacity-300);
      border-radius: $border-radius-small;
    }
  }

  &--native {
    height: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    background: $dark;
  }
  
  &.-ratio-1\/1 &--native { padding-bottom: 100%; }
  &.-ratio-4\/3 &--native { padding-bottom: 75%; }
  &.-ratio-3\/2 &--native { padding-bottom: 66.67%; }
  &:not([class*="-ratio-"]) &--native,
  &.-ratio-2\/1 &--native { padding-bottom: 50%; }
}
