.notification {
  border: 1px solid $border-color;
  border-left: 3px solid var(--class-color);
  display: grid;
  min-width: 0;
  max-width: $measure;
  gap: $rem-300;
  padding: $rem-300 $rem-200;
  grid-auto-flow: column;
  grid-template-columns: max-content auto;
  
  .icon { color: var(--class-color) }

  @media (max-width: $vp-small) {
    display: block;
    padding: $rem-300;
  }
}
