// Range Page with Filter
.srp {
  &.ev {
    .tilebox {
      .accordion {
        + .accordion {
          border-top: 1px solid #ced6de;
        }
      }
    }
    .srp-f-bar {
      margin: -20px 0 20px;
      @media (min-width: 1216px) {
        margin: -20px 0;
      }
    }
  }
}

.load-more-results {
  @media (max-width: 767px) {
    margin-bottom: 22px;
  }
}

.small-heading-and-copy {
  color: #44576a;
  font-size: 20px;
  span {
    display: block;
    &:first-of-type {
      font-weight: 600;
    }
  }
  + .small-heading-and-copy {
    margin-top: 35px;
  }
}

.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: rgba(237, 100, 13, 0.75);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 20;
  @media (min-width: 1216px) {
    right: 40px;
    bottom: 40px;
    width: 60px;
    height: 60px;
  }
  &.active {
    transform: translateY(0px);
    opacity: 1;
  }
}

.two-col-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    margin-bottom: 18px;
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 768px) {
    > * {
      width: calc(50% - 8.5px);
      margin-bottom: 36px;
      &:last-of-type,
      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }
}

.card-basic {
  display: flex;
  overflow: hidden;
  position: relative;
  background: white;
  border: 1px solid #d4dae2;
  border-radius: 0.375rem;
  img {
    width: 50%;
    height: 100%;
  }
  .copy {
    width: 50%;
    position: relative;
    white-space: normal;
    padding: 24px 22px 22px;
    .model {
      font-size: 28px;
      font-weight: bold;
      line-height: 22px;
      color: black;
      margin-bottom: 22px;
    }
    .cost {
      font-size: 20px;
      font-weight: bold;
      color: black;
      .from {
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        margin-right: 4px;
      }
      .pounds {
        font-size: 28px;
      }
    }
    .vat {
      display: block;
      font-size: 15px;
      color: #678098;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 15px;
      margin-bottom: 18px;
    }
    .button {
      height: 42px;
      padding: 0 30px;
      font-size: 15px;
    }
  }

  @media (max-width: 961px) {
    flex-direction: column;
    img {
      width: 100%;
      height: auto;
    }
    .copy {
      width: 100%;
      padding: 24px 18px 18px;
      .cost {
        padding-right: 150px;
        .from {
          display: block;
          font-size: 12px;
          line-height: 15px;
        }
        .vat {
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
      .button {
        padding: 0 18px;
        position: absolute;
        right: 18px;
        bottom: 18px;
      }
    }
  }

  *,
  *:before,
  *:after {
    line-height: unset;
  }
}

[class*='row:'] + [class*='row:'] + .page__range-page-featured-left {
  margin-top: 6em;
}

[class*='row:'] + [class*='row:'] + .page__range-page-description {
  margin-top: 6em;

  @media (max-width: 961px) {
    margin-top: 3rem;
    margin-bottom: 0;
  }
}

[class*='row:'] + [class*='row:'] + .page__range-page-media-size {
  margin-top: 7em;
  margin-bottom: 5em;

  @media (max-width: 961px) {
    margin-top: 3rem;
    margin-bottom: 0;
  }
}
