.textarea {
  &--native {
    padding: $rem-200;
    display: block;
    width: 100%;
    min-height: $textinput-height;
    max-width: var(--textarea-width, unset);
    border: 1px solid $border-color;
    border-radius: $border-radius-small;
    color: $black;
    background: $white;
    transition: border-color $duration-small $transition-soft,
      box-shadow $duration-small $transition-soft;

    &:focus,
    &:active {
      border-color: $teal;
      box-shadow: $box-shadow-focus rgba($teal, $focus-opacity);
    }

    &::-webkit-input-placeholder {
      color: $medium;
    }

    &:disabled {
      outline: none;
      border-color: $light;
      background-color: $lighter;
      box-shadow: none;
      color: $medium;
      cursor: not-allowed;
    }

    &:disabled::placeholder {
      color: $light;
      opacity: 1;
    }
  }

  &--field-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &--label {
    display: block;
    color: $black;
    font-size: $font-size-400;
    line-height: calc(1em + 0.25rem);
    margin-bottom: $rem-200;
  }

  &.-prefix {
    padding-left: $textinput-height;
  }

  &.-invalid textarea {
    border-color: $red;
    box-shadow: $box-shadow-focus rgba($red, $focus-opacity);
  }

  &.-calculated {
    border: 0;
    border-bottom: 1px solid $dark;
    background-color: unset;
    border-radius: 0;
    pointer-events: none;
    cursor: not-allowed;
  }

  &--field-wrapper.-editable {
    display: inline-grid;
    justify-content: start;
    grid-auto-flow: column;
    place-items: baseline;
    gap: $rem-300;
  }

  /* Requirement text */
  &--requirement {
    margin-top: $rem-300;
    line-height: normal;
  }

  &--field-wrapper .icon {
    min-height: $textinput-height;
    position: absolute;
    top: 0;
    right: $rem-200;
    color: $red;
  }

  &--prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $textinput-height;
    width: $textinput-height;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  /* Validation */
  &--wrapper {
    .textarea--field-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }
    &.-invalid {
      border-left: 5px solid $red;
      padding-left: 1ch;

      .textarea--error {
        display: block;
        font-weight: 600 !important;
        margin-bottom: 0.5rem;
      }
    }
  }
}
