.benefits-bar {
  grid-column: full;
  display: block;
  align-items: center;
  background: #F26500;
  padding: 0 0.75rem;
  min-height: 41px;

  @include desktop {
    min-height: 56px;
    display: flex;
  }

  @include mobile-tablet {
    bottom: -41px;
  }

  &__slider {
    margin: 0 auto;
    max-width: 1215.94px;
    height: 100%;
    position: relative;
    flex-grow: 1;

    .swiper-prev,
    .swiper-next {
      position: absolute;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      width: 25px;
      height: 100%;
      cursor: pointer;

      @include desktop {
        display: none;
      }

      &:focus {
        background-color: rgba(103, 128, 152, 0.15);
      }
    }

    .swiper-prev {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .swiper-next {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    .swiper-container {
      width: calc(100% - 50px);
      height: 100%;

      @include desktop {
        width: 100%;
      }
    }

    .swiper-wrapper {
      justify-content: space-between;
      align-items: center;

      @include desktop {
        gap: 20px;
      }
    }

    .swiper-slide {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 0 100%;
      max-width: 100%;
      cursor: default;

      @include desktop {
        flex: 1 0 auto;
        max-width: none;
        width: auto;
        display: none;
        &:nth-child(1) {
          display: flex;
        }
        &:nth-child(2) {
          display: flex;
        }
        &:nth-child(3) {
          display: flex;
        }
        &:nth-child(4) {
          display: flex;
        }
        &:nth-child(5) {
          display: flex;
        }
      }
    }
  }

  .text {
    display: flex;
    align-items: center;
    --class-color: white;
  }

  &__icon {
    margin-right: 3px;
    display: inline-flex;
    height: auto;
    font-size: 25px;

    svg {
      --class-color: white;
      image-rendering: -webkit-optimize-contrast;
    }
  }

}
