.breadcrumb {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  place-items: center start;
  gap: 0.5ch;
  text-transform: capitalize;

  @include mobile {
    display: block;
  }

  &-item {
    display: grid;
    grid-template-columns: max-content max-content;
    place-items: center center;
    gap: 0.5ch;

    &.-child > * {
      display: inline;
    }

    @include mobile {
      grid-template-columns: auto;
      place-items: flex-start;

      &.-child > * {
        display: none;
      }
    }

    &--backlink.link {
      display: none;
    }

    &.-parent:nth-last-child(2) > .breadcrumb-item--backlink.link {
      display: inline;
      width: 100%;
    }

    &--arrow {
      font-size: 0.9em;
      vertical-align: baseline;
    }

    &--chevron {
      font-size: 0.75em;
      vertical-align: baseline;
      opacity: 0.375;
    }
  }
}
