.accordion {
  max-width: $measure + 10ch;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
  width: 100%;
  background: $white;

  &.full-width {
    max-width: 100%;
  }

  &-item {
    transition: all $duration-small $transition-soft;
    overflow: visible;

    &:not(:first-child) {
      border-top: 1px solid $border-color;
    }

    &--active.bordered .accordion--content {
      display: grid;
    }

    &.bordered {
      border: 2px solid #CDD6DE;
      border-radius: 5px;

      & .accordion--content {
        border-top: 2px solid #CDD6DE;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 0;

        @include tablet {
          grid-template-columns: repeat(4, 1fr);
        }

        @include mobile {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      & .accordion--title {
        text-align: center;
        font-weight: 600;

        & .text {
          font-size: 18px;
        }
      }

      & .link {
        color: #44576A;
        font-size: 18px;
        line-height: 35px;
      }
    }
  }

  &--heading {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    display: inline-block;
    background: none;
    appearance: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 100%;
    color: $black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    padding: $rem-200 0;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    margin: 0;
    transition: background-color $duration-small $transition-soft;
  }

  &--heading:-moz-focus-inner {
    border: 0;
  }

  &--heading:hover:before,
  &--heading:focus:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: calc(100% + 2px);
  }

  &--heading:hover:before {
    background-color: rgba($light, 0.25);
  }

  &--heading:focus {
    outline: none;
  }

  .accordion-item--chevron {
    font-size: $font-size-600;
    flex: 0 0 1rem;
    width: 1em;
    height: 1em;
    margin: 0 1.6rem 0 0;
    color: $dark;
    transform: rotate(90deg);
    transition: all $duration-small $transition-soft;
    align-items: center;
    display: flex;

    svg {
      stroke: currentColor;
      font-size: initial;
    }
  }

  &--title {
    font-size: $font-size-400;
    font-weight: $font-weight-medium;
    line-height: 1.75;
    margin: 0;
    margin-left: $rem-400;
    width: 100%;
    text-align: left;
    z-index: 0;
  }

  &--content {
    display: none;
    transition: padding $duration-small $transition-soft;
    margin-top: $rem-200;
    padding-left: $rem-400;
    padding-right: $rem-400;
  }

  &--start &--heading {
    flex-direction: row;
  }

  &--start .accordion-item--chevron {
    margin: 2px 0 0 0.5rem;
  }

  &--start &--content {
    margin-left: 1.5rem;
  }

  &-item--active {
    overflow: visible;
  }

  &-item--active > &--content {
    display: block;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    transition: padding-top $duration-small $transition-soft,
      padding-bottom $duration-small $transition-soft;
  }

  &-item--active > &--heading .accordion-item--chevron {
    transform: rotate(-90deg);
    color: $black;
  }

  &.-strong {
    background: transparent;

    @media (max-width: $vp-small) {
      margin-left: -$rem-400;
      margin-right: -$rem-400;
      width: 100vw;

      & & {
        margin-left: 0;
        margin-right: 0;
        width: auto;
      }
    }
  }

  &.-strong &-item {
    border: 1px solid $light;
    // overflow: hidden;
    background: transparent;

    @media (min-width: $vp-small) {
      &:not(:first-of-type) {
        margin-top: $rem-200;
      }
    }

    @media (max-width: $vp-small) {
      margin-top: -1px;
    }

    &.accordion-item--active,
    &:hover {
      border: 1px solid $border-color;
    }
  }

  &.-strong &--heading {
    background: $white;

    &:before {
      display: none;
    }
  }

  &.-strong &--content {
    background: $white;
    margin: 0;
  }

  &.-strong .accordion-item--active &--heading {
    border-bottom: 1px dotted $border-color;
  }
}

.tabs__panel > * .accordion,
.tile--accordion .accordion,
.tilebox .accordion,
.tile .accordion,
.card .accordion {
  max-width: 100% !important;
}
