.bf-banner {
  display: flex;
  justify-content: center;

  @media (max-width: 984px) {
    background: #161616;
  }

  &__ear.icon {
    display: inline-flex;
    flex-shrink: 0;
    min-height: 100%;
    height: auto;
    color: #161616;

    svg {
      min-height: 100%;
    }

    @include mobile-tablet {
      display: none;
    }
  }

  &__inner {
    display: flex;
    flex: 1 1 auto;
    background: #161616;

    @media (max-width: 984px) {
      max-width: 475px;
    }
  }

  &__badge {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-height: 40px;
    margin: 4px 6px;
    padding: 2px 21px 0;
    text-align: center;
    text-transform: uppercase;

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-flex;
      width: 100%;
      height: 100%;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .text {
      font-size: 1.5rem;
      font-weight: $font-weight-medium;
      font-family: $font-family-heading;
      color: #161616;
      z-index: 1;

      @include mobile-tablet {
        font-size: $font-size-500;
      }

      @media (max-width: 364px) {
        font-size: $font-size-400;
      }
    }
  }

  &__text {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    margin: 6px 4px;
    padding: 5px 4px;
    color: $white;
    font-size: $font-size-400;
    font-weight: $font-weight-regular;
    font-family: $font-family-heading;
    text-align: center;


    @media (min-width: 985px) {
      padding-bottom: 3px;
    }

    @media (max-width: 984px) {
      flex-direction: column;
      padding: 7px 4px;
    }

    &.-before {
      text-transform: uppercase;

      @include desktop {
        font-size: $font-size-500;
      }

      @media (max-width: 984px) {
        display: none;
      }
    }

    &.-after {
      @include mobile-tablet {
        font-size: $font-size-300;
      }

      @media (max-width: 984px) {
        line-height: 1;
      }

      @media (max-width: 364px) {
        font-size: $font-size-200;
      }

      span {
        font-size: $font-size-400;
        text-transform: uppercase;
        line-height: 1;

        @media (min-width: 985px) {
          display: none;
        }

        @media (max-width: 364px) {
          font-size: $font-size-300;
        }
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(90deg, #848687, #848687 50%, transparent 50%, transparent 100%);
      background-repeat: repeat-x;
      background-size: 10px 2px;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  &--pdp {
    .bf-banner {
      &__badge {
        width: 244px;

        @include mobile-tablet {
          width: 176px;
        }

        @media (max-width: 364px) {
          width: 156px;
        }
      }
    }
  }

  &--summary {
    .bf-banner {
      &__badge {
        width: 204px;

        @include mobile-tablet {
          width: 175px;
        }

        @media (max-width: 984px) {
          min-height: 32px;
        }

        @media (max-width: 364px) {
          width: 156px;
        }
      }

      &__text {
        &.-after {
          text-transform: uppercase;

          @include desktop {
            font-size: $font-size-500;
          }

          @include mobile-tablet {
            font-size: $font-size-400;
          }

          @media (max-width: 364px) {
            font-size: $font-size-300;
          }
        }
      }

      &__ear {
        display: none;
      }
    }
  }

  &--global-search {
    flex-grow: 1;
    @include desktop {
      margin-right: 25px;
    }
    @include mobile-tablet {
      margin-right: -30px;
      margin-left: -30px;
    }

    .bf-banner {
      &__inner {
        @include mobile-tablet {
          padding: 0 16px;
        }
      }

      &__badge {
        width: 213px;

        @include mobile-tablet {
          width: 175px;
        }

        @media (max-width: 984px) {
          min-height: 32px;
        }

        @media (max-width: 364px) {
          width: 156px;
        }
      }

      &__text {
        &.-after {
          text-transform: uppercase;

          @include desktop {
            font-size: $font-size-500;
          }

          @include mobile-tablet {
            font-size: $font-size-400;
          }

          @media (max-width: 364px) {
            font-size: $font-size-300;
          }
        }
      }

      &__ear {
        @include mobile-tablet {
          display: none;
        }
      }
    }
  }
}
