.slide-togl {
  position: relative;
  height: 34px;
  border-radius: 3px;
  border: 1px solid #d0d9e1;
  display: flex;
  input[type='radio'] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    background: transparent;
    cursor: pointer;
    color: #758ba1;
    transition: color 0.3s ease;
    font-size: 14px;
    font-weight: 500;
    .toggle--switch {
      width: 100%;
      display: flex;
      & > span {
        width: 50%;
      }
    }
  }

  // State animation
  .state {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 0;
    width: calc(50% + 1px);
    height: calc(100% + 2px);
    transform: translate(0, 0);
    background: #ed640d;
    transition: transform 0.3s ease;
  }
  #r1:checked {
    + label {
      color: white;
    }
    ~ .state {
      transform: translate(0, 0);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  #r2:checked {
    + label {
      color: white;
    }
    ~ .state {
      transform: translate(100%, 0);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
