// Search Results Page Filters & Sort

.srp {
  .row {
    &\:bg-light {
      padding-top: 64px;
    }
  }
}

.srp-f-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #cdd6de;
  border-radius: 0.25rem;
  position: relative;
  margin-bottom: -20px;
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    background: #cdd6de;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    font-size: 17px;
    color: #44576a;
    cursor: pointer;
    svg {
      margin-right: 5px;
      path {
        fill: #44576a;
      }
    }
  }
}
.filters-applied {
  color: white;
  background: #187f85;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  padding: 0 4px;
  border-radius: 2px;
  margin-left: 6px;

  // Desktop
  @media (min-width: 1216px) {
    font-size: 14px;
    line-height: 20px;
    padding: 0 5px;
    border-radius: 3px;
  }
}

.sort-icon {
  display: flex;
  justify-content: space-between;
  width: 13px;
  transform: scale(0.85);
  position: relative;
  top: 3px;
  margin-right: 3px;
  span {
    position: relative;
    width: 5px;
    height: 9px;
    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
    }
    &:before {
      height: 11px;
      width: 1px;
      background: #44576a;
      top: 0;
      left: 3px;
    }
    &:after {
      width: 5px;
      height: 5px;
      border-top: 1px solid #44576a;
      border-left: 1px solid #44576a;
      top: 0;
      left: 1px;
      transform: rotate(45deg);
    }
    &:first-of-type {
      top: -7px;
    }
    &:last-of-type {
      transform: rotate(180deg);
    }
  }
}

.srp-f-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: -12px;
  button {
    display: flex;
    align-items: center;
    border: 1px solid #d1d9e0;
    border-radius: 3px;
    height: 34px;
    padding: 0 10px 0 12px;
    background: white;
    margin-right: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #197f85;
    cursor: pointer;
    transition: all 0.3s ease;
    svg {
      margin-left: 4px;
      transform: scale(1.25);
      fill: #197f85;
      polygon {
        fill: #197f85;
      }
    }
    &.clear-all {
      color: #d61d00;
      padding-right: 12px;
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(25, 127, 133, 0.15);
      border-color: #197f85;
    }
  }
}

// SRP Flyout

.srp-f-flyout {
  button {
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(25, 127, 133, 0.15);
      border-color: #197f85;
    }
  }
  > .content {
    padding: 12px 18px 0;
    height: calc(100% - 64px);
    overflow-y: auto;
    .srp-f-tags {
      margin-top: 0;
      margin-bottom: 10px;
    }
    > .drop-down,
    > .drop-select,
    > .accordyon {
      margin-top: 24px;
      + .drop-down,
      + .drop-select {
        margin-top: 16px;
      }
    }
    > * {
      &:last-of-type:not(.srp-f-hot-deals) {
        margin-bottom: 16px;
      }
    }
    .sorting-results {
      width: 50px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s ease;
      opacity: 0;
      &.now {
        opacity: 1;
      }
    }
  }
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    position: relative;
    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 20px;
      background: linear-gradient(rgba(255, 255, 255, 0.001), #fff);
      position: absolute;
      top: -20px;
      left: 0;
      z-index: 1;
    }
    button {
      width: calc(50% - 7.5px);
      height: 40px;
      font-size: 16px;
      font-weight: bold;
      color: #197f85;
      border: 1px solid #197f85;
      border-radius: 5px;
      cursor: pointer;
      &.solid {
        background: #197f85;
        color: white;
      }
      &.update-results .button--inner {
        color: var(--class-color-contrast);
      }
    }
  }

  // Tablet & Desktop
  @media (min-width: 768px) {
    .title {
      padding: 0 24px;
    }
    > .content {
      padding: 12px 24px 0;
      height: calc(100% - 72px);
    }
    .actions {
      padding: 8px 24px 24px;
    }
  }
}

.srp-f-hot-deals {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #4b5f71;
  cursor: pointer;
  margin-bottom: 22px;
  .togl {
    transform: scale(0.86);
    margin-right: 6px;
    margin-left: -3px;
    > span {
      background: #e7ebee;
      overflow: hidden;
      &:after {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
      }
    }
  }
  svg {
    width: 18px;
    margin: 0 4.5px;
    path {
      fill: #ed640d;
    }
  }
  > span {
    position: relative;
    top: 2px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ed640d;
  }
}

// Global button with loading status
button {
  &.load {
    position: relative;
    > span {
      position: relative;
      top: 0;
      opacity: 1;
      transition: all 0.3s ease;
    }
    > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s ease;
      opacity: 0;
    }
    &.fetching {
      > span {
        top: 20px;
        opacity: 0;
      }
      > svg {
        opacity: 1;
      }
    }
  }
}

.slide-togl {
  position: relative;
  height: 34px;
  border-radius: 3px;
  border: 1px solid #d0d9e1;
  display: flex;
  input[type='radio'] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    background: transparent;
    cursor: pointer;
    color: #758ba1;
    transition: color 0.3s ease;
    font-size: 14px;
    font-weight: 500;
    .toggle--switch {
      width: 100%;
      display: flex;
      & > span {
        width: 50%;
      }
    }
  }

  // State animation
  .state {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 0;
    width: calc(50% + 1px);
    height: calc(100% + 2px);
    transform: translate(0, 0);
    background: #ed640d;
    transition: transform 0.3s ease;
  }
  #r1:checked {
    + label {
      color: white;
    }
    ~ .state {
      transform: translate(0, 0);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  #r2:checked {
    + label {
      color: white;
    }
    ~ .state {
      transform: translate(100%, 0);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

// Accordion
.accordyon {
  .trigger {
    display: flex;
    align-items: center;
    height: 24px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background: white;
    > span {
      font-size: 15px;
      color: #197f85;
      font-weight: 500;
    }
    > svg {
      width: 22px;
      stroke: #197f85;
      margin-left: 0;
      margin-right: 6px;
      transition: all 0.2s ease;
      transform: scaleY(1);
      path {
        fill: none;
      }
    }
  }
  .content {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    .inner {
      padding-top: 24px;
      background: white;
      transition: all 0.3s ease 0.3s;
      opacity: 0;
      > .drop-down,
      > .drop-select {
        + .drop-down,
        + .drop-select {
          margin-top: 16px;
        }
      }
      > .check-it {
        margin-top: 18px;
        + .check-it {
          margin-top: 18px;
        }
      }
    }
  }
  &.active {
    .trigger {
      svg {
        transform: scaleY(-1);
      }
    }
    .content {
      height: auto;
      .inner {
        opacity: 1;
      }
    }
  }
}

.check-it {
  display: flex;
  align-items: center;
  height: 27px;
  padding-bottom: 1px;
  input[type='checkbox'] {
    width: 1px;
    height: 1px;
    opacity: 0;
    &:focus {
      + label {
        &:before {
          box-shadow: 0 0 0 0.25rem rgba(25, 127, 133, 0.15);
          border-color: #197f85;
        }
      }
    }
    &:checked {
      + label {
        &:before {
          background: #197f85;
          border-color: #197f85;
        }
      }
    }
  }
  label {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #44576a;
    padding-left: 35px;
    position: relative;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
    }
    &:before {
      width: 22px;
      height: 22px;
      border-radius: 2px;
      border: 1px solid #a1b0bf;
      top: 0;
      left: 3px;
      transition: all 0.3s ease;
    }
    &:after {
      width: 13px;
      height: 6px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      top: 6.4px;
      left: 8px;
      transform: rotate(-43deg);
    }
  }
}
