.price {
  display: grid;
  align-self: baseline;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  grid-template-rows:
    [before] minmax(0, min-content)
    [price] minmax(0, min-content)
    [after] minmax(0, min-content);

  color: var(--class-color);
  font-size: var(--class-fs);
  font-weight: 700;
  letter-spacing: $letter-spacing-narrow;
  white-space: nowrap;
  place-items: baseline start;
  max-width: max-content;
  width: 100%;
  min-width: 1%;

  &--pounds,
  &--sub,
  &--label {
    display: block;
    color: inherit;
    white-space: inherit;
    line-height: 0.9em;
  }

  &--pounds,
  &--sub {
    letter-spacing: inherit;
    text-transform: uppercase;
    font-weight: inherit;
    grid-row: price;
  }

  &--sub {
    font-size: 0.8em;
    position: unset;
  }

  &--label {
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.015em;
    color: $darker;
    grid-column: 1 / -1;

    > * {
      display: block;

      &:first-child:not(:only-child) {
        font-weight: 600;
        color: $orange;
      }
    }

    &:first-child {
      grid-row: before;
      font-weight: 600;
      font-size: 0.75rem;
      color: $black;
      text-transform: uppercase;
      margin-bottom: 0.25em;
    }

    &:last-child {
      grid-row: after;
      letter-spacing: 0;
      color: $dark;
      margin-top: 0.25em;
    }
  }
}
