.price {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-self: baseline;
  width: 100%;
  min-width: 1%;
  max-width: max-content;
  color: var(--class-color);
  font-size: var(--class-fs);
  font-weight: 700;
  letter-spacing: $letter-spacing-narrow;
  white-space: nowrap;

  &--inner {
    display: flex;
    align-items: baseline;
    max-width: 100%;
  }

  &--pounds,
  &--sub,
  &--label {
    display: block;
    color: inherit;
    white-space: inherit;
    line-height: 0.9em;
  }

  &--pounds,
  &--sub {
    letter-spacing: inherit;
    text-transform: uppercase;
    font-weight: inherit;
  }

  &--sub {
    font-size: 0.8em;
  }

  &--pounds {
    min-width: 1px;
  }

  &--label {
    flex: 1 1 100%;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.015em;
    color: $darker;

    > * {
      display: block;

      &:first-child:not(:only-child) {
        font-weight: 600;
        color: $orange;
      }
    }

    &:first-child {
      margin-bottom: 0.25em;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $black;
    }

    &:last-child {
      margin-top: 0.25em;
      letter-spacing: 0;
      color: $dark;
    }
  }
}
