@import "node_modules/swiper/swiper";
@import "node_modules/swiper/components/navigation/navigation";

// toggles the styles required just for the documentation prototype
$include-presentation-styles: false !default;

// global variables (like color, spacing, border-radius etc)
@import '../variables.scss';

// utilities and global styles
@import '../util/font-face.scss';
@import '../util/mixins.scss';
@import '../util/reset.scss';
@import '../util/global.scss';
@import '../util/color.scss';
@import '../util/size.scss';
@import '../util/markdown.scss';

// page templates
@import '../templates/page.scss';

// components (atoms)
// @import '../atoms/details/details.scss';
// @import '../atoms/amazonbutton/amazonbutton.scss';
// @import '../atoms/avatar/avatar.scss';
// @import '../atoms/badge/badge.scss';
@import '../atoms/breadcrumbs/breadcrumbs.scss';
@import '../atoms/button/button.scss';
@import '../atoms/checkbox/checkbox.scss';
// @import '../atoms/choiceboxes/choiceboxes.scss';
// @import '../atoms/choiceboxes-v2/choiceboxes-v2.scss';
@import '../atoms/dropdown/dropdown.scss';
@import '../atoms/dropdown-v2/dropdown-v2.scss';
@import '../atoms/heading/heading.scss';
@import '../atoms/icon/icon.scss';
@import '../atoms/image/image.scss';
@import '../atoms/initials/initials.scss';
@import '../atoms/link/link.scss';
// @import '../atoms/list/list.scss';
// @import '../atoms/loading/loading.scss';
@import '../atoms/logo/logo.scss';
@import '../atoms/map/map.scss';
@import '../atoms/media/media.scss';
// @import '../atoms/numeric-input/numeric-input.scss';
// @import '../atoms/sliding-input/sliding-input.scss';
// @import '../atoms/pagination/pagination.scss';
@import '../atoms/price/price.scss';
// @import '../atoms/radio/radio.scss';
@import '../atoms/rating/rating.scss';
@import '../atoms/score/score.scss';
// @import '../atoms/search/search.scss';
@import '../atoms/select/select.scss';
// @import '../atoms/sliding-input/sliding-input.scss';
@import '../atoms/text/text.scss';
// @import '../atoms/textarea/textarea.scss';
@import '../atoms/textinput/textinput.scss';
// @import '../atoms/toast/toast.scss';
// @import '../atoms/toggle/fancy-toggle.scss';
@import '../atoms/toggle/toggle.scss';
@import '../atoms/toggle/toggle-switch.scss';
// @import '../atoms/tooltip/tooltip.scss';
@import '../atoms/hot-offer/hot-offer.scss';
@import '../atoms/custom-select/custom-select.scss';

// components (molecules)
@import '../molecules/formgroup/formgroup.scss';
// @import '../molecules/accordion/accordion.scss';
@import '../molecules/address-finder/address-finder.scss';
@import '../molecules/cards/card.scss';
@import '../molecules/custom-mobile-select/custom-mobile-select.scss';
@import '../molecules/color-selection/color-selection.scss';
// @import '../molecules/ivan-cta/ivan-cta.scss';
@import '../molecules/modal/modal.scss';
@import '../molecules/modal-v2/modal-v2.scss';
// @import '../molecules/notification/notification.scss';
// @import '../molecules/progress-indicator/progress-indicator.scss';
// @import '../molecules/sortcode/sortcode.scss';
@import '../molecules/tabs/tabs.scss';
@import '../molecules/tile/tile.scss';
@import '../molecules/drawer/drawer.scss';
@import '../molecules/drawer/deranged-form-in-drawer.scss';
@import '../molecules/centered-drawer/centered-drawer.scss';
@import '../molecules/trustpilot/trustpilot.scss';
// @import '../molecules/typeahead/typeahead.scss';
@import '../molecules/step/step.scss';
// @import '../molecules/review/review.scss';
@import '../molecules/service-banner/service-banner.scss';

// components (organisms)
@import '../organisms/address-history/address-history.scss';
// @import '../organisms/comments/comments.scss';
@import '../organisms/employment-history/employment-history.scss';
@import '../organisms/form/form.scss';
@import '../organisms/header/header.scss';
// @import '../organisms/icon-list/icon-list.scss';
// @import '../organisms/league/league.scss';
// @import '../organisms/lease-scanner/lease-scanner.scss';
@import '../organisms/search-filters/search-filters.scss';
@import '../organisms/search-filters/srp-filters-and-sort.scss';
// @import '../organisms/slideout-modal/slideout-modal.scss';
@import '../organisms/carousel/carousel.scss';
@import '../organisms/benefits-bar/benefits-bar.scss';
@import '../organisms/structured-list/structured-list.scss';
// @import '../organisms/timeline/timeline.scss';
@import '../organisms/wishlist/wishlist.scss';
@import '../organisms/cookie-bar/cookie-bar.scss';
@import '../organisms/comparator-bar/comparator-bar.scss';
@import '../organisms/comparator-table/comparator-table.scss';
@import '../organisms/nlol-hero/nlol-hero.scss';
@import '../organisms/competition/win-a-new-lease-of-life.scss';
@import '../organisms/free-insurance/free-insurance.scss';
@import '../organisms/icon-list/icon-list.scss';
//TODO:Delete when fix storybook styles import path
@import '../organisms/full-screen-carousel/full-screen-carousel.scss';

// row is imported last (for overrides)
@import '../templates/footer.scss';
@import '../templates/ev-templates.scss';
@import '../templates/row.scss';

