$include-presentation-styles: false !default;

@import '../variables.scss';

// utilities and global styles
//@import '../util/font-face.scss';
@import '../util/mixins.scss';
//@import '../util/global.scss';
@import '../util/color.scss';
//@import '../util/size.scss';
//@import '../util/markdown.scss';

// page templates
@import '../templates/page-vars.scss';
@import './pages/range-page-with-filters.scss';

// components (atoms)
@import '../atoms/dropdown/dropdown.scss';
@import '../atoms/details/details.scss';
@import '../atoms/badge/badge.scss';
// @import '../atoms/checkbox/checkbox.scss';
@import '../atoms/choiceboxes/choiceboxes.scss';
@import '../atoms/choiceboxes-v2/choiceboxes-v2.scss';
@import '../atoms/toast/toast.scss';
@import '../atoms/tooltip/tooltip.scss';
@import '../atoms/amazonbutton/amazonbutton.scss';
@import '../atoms/avatar/avatar.scss';
@import '../atoms/loading/loading.scss';
@import '../atoms/pagination/pagination.scss';
//@import '../atoms/link/link.scss';
@import '../atoms/list/list.scss';
@import '../atoms/media/media.scss';
@import '../atoms/numeric-input/numeric-input.scss';
@import '../atoms/sliding-input/sliding-input.scss';
@import '../atoms/radio/radio.scss';
@import '../atoms/select/select.scss';
@import '../atoms/text/text.scss';
@import '../atoms/textarea/textarea.scss';
@import '../atoms/toggle/fancy-toggle.scss';
@import '../atoms/toggle/toggle.scss';

// components (molecules)
@import '../molecules/accordion/accordion.scss';
// @import '../molecules/formgroup/formgroup.scss';
@import '../molecules/ivan-cta/ivan-cta.scss';
//@import '../molecules/modal/modal.scss';
//@import '../molecules/trustpilot/trustpilot.scss';
@import '../molecules/review/review.scss';
@import '../molecules/notification/notification.scss';
@import '../molecules/progress-indicator/progress-indicator.scss';
@import '../molecules/sortcode/sortcode.scss';
@import '../molecules/typeahead/typeahead.scss';

// components (organisms)
@import '../organisms/comments/comments.scss';
// @import '../organisms/form/form.scss';
@import '../organisms/hero-prompt/hero-prompt.scss';
@import '../organisms/league/league.scss';
@import '../organisms/slideout-modal/slideout-modal.scss';
@import '../organisms/bank-account-status/bank-account-status.scss';
//@import '../organisms/lease-scanner/lease-scanner.scss';
//@import '../organisms/comparator-bar/comparator-bar.scss';
//@import '../organisms/comparator-table/comparator-table.scss';
//@import '../organisms/media-gallery/media-gallery.scss';

// row is imported last (for overrides)
//@import '../templates/row.scss';
@import '../util/youtube.scss';
@import '../templates/error.scss';
