.personalInformation {
    gap: 2rem;

    @media (min-width: 768px) {
        & > div:nth-child(1){
            grid-column-end: 6
        }

        & > div:nth-child(2){
            grid-column-start: 7
        }
    }
}

.middle {
    vertical-align: middle;
}
