.breadcrumbs {
  &__list {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    place-items: center start;
    gap: 0.5ch;
    height: 18px;
    text-transform: capitalize;
  }

  &__item {
    display: grid;
    grid-template-columns: max-content max-content;
    place-items: center center;
    gap: 0.5ch;

    .icon {
      display: inline-flex;
      width: auto;
      height: auto;
    }
  }

  &--mobile {
    display: none;
  }

  @include mobile {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}
