.form {
  display: grid;
  gap: $rem-400;
  min-width: 0;
  max-width: 50ch;
  width: 100%;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(0, max-content));
  grid-auto-flow: row;
  max-height: 100%;

  & > * {
    min-width: 0;
  }

  & > .link {
    width: max-content;
  }

  &.-invalid {
    border-left: 5px solid $red;
    padding-left: 1ch;

    .text.-invalid {
      font-weight: 600;
    }
  }

  &.-full-width-fields {
    max-width: unset;

    .formgroup,
    .formgroup--content {
      max-width: unset;
    }
  }

  .formgroup.-date-picker .select{
    select {
      @include mobile375() {
        padding-right: 1.7rem;
      }
    }

    &:nth-child(2) {
      @include mobile375() {
        max-width: 90px;
      }
    }
  }
}
