.form {
  display: grid;
  gap: $rem-400;
  min-width: 0;
  max-width: 50ch;
  width: 100%;
  grid-template-columns: minmax(0,1fr);
  grid-template-rows: repeat(auto-fit, minmax(0,max-content));
  grid-auto-flow: row;

  & > * {
    min-width: 0;
  }

  & > .link {
    width: max-content;
  }

  &.-invalid {
    border-left: 5px solid $red;
    padding-left: 1ch;

    .text.-invalid {
      font-weight: 600;
    }
  }

  &.-full-width-fields {
    max-width: unset;
    .formgroup, 
    .formgroup--content {
      max-width: unset;
    }
  }
}
