@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-end-p1 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-end-p2 {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes init-stroke {
  0% {
    stroke-dashoffset: 240;
  }

  100% {
    stroke-dashoffset: 10;
  }
}

@keyframes stroke-end {
  0% {
    stroke-dashoffset: 10;
  }

  100% {
    stroke-dashoffset: 240;
  }
}

.loading {
  display: block;
  margin: $rem-400 auto;
  animation-name: rotate;
  animation-duration: 690ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

  & svg circle {
    animation-name: init-stroke;
    animation-duration: 10ms;
    animation-timing-function: $transition-soft;
  }

  &--svg {
    fill: transparent;
  }

  &--svg circle {
    stroke-width: var(--loading-strokewidth, 18);
    stroke-linecap: butt;
    stroke-dasharray: 240;
  }

  &--stroke {
    stroke: $orange;
    stroke-dashoffset: 60;

    // colours
    &.-orange {
      stroke: $orange;
    }

    &.-sky {
      stroke: $sky;
    }

    &.-black {
      stroke: $black;
    }

    &.-darker {
      stroke: $darker;
    }

    &.-dark {
      stroke: $dark;
    }

    &.-medium {
      stroke: $medium;
    }

    &.-light {
      stroke: $light;
    }

    &.-lighter {
      stroke: $lighter;
    }

    &.-white {
      stroke: $white;
    }
  }

  &.-stop {
    animation: rotate-end-p1 700ms ease-out forwards,
      rotate-end-p2 700ms ease-out 700ms forwards;
  }

  &.-stop svg circle {
    animation-name: stroke-end;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
    animation-delay: 700ms;
    animation-fill-mode: forwards;
  }

  /* Size */
  &.-small {
    --loading-strokewidth: 14;
    width: 0.75rem;
    height: 0.75rem;
  }

  &.-small {
    --loading-strokewidth: 14;
    width: 1rem;
    height: 1rem;
  }

  &.-regular {
    --loading-strokewidth: 14;
    width: 2rem;
    height: 2rem;
  }

  &.-large {
    --loading-strokewidth: 10;
    width: 4rem;
    height: 4rem;
  }

  &.-xlarge {
    --loading-strokewidth: 6;
    width: 8rem;
    height: 8rem;
  }

  /* Overlay */
  &--overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($white, $opacity-300);
    backdrop-filter: blur(1px) contrast(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color $duration-large $transition-soft,
      backdrop-filter $duration-large $transition-soft;
    z-index: $z-index-modal;
  }

  &--overlay & {
    width: 15vmin;
    height: 15vmin;
  }

  &--overlay.-stop {
    display: none;
  }
}
