// EV Pillar

.row {
  &\:full-w-hero {
    grid-column: full;
    grid: none;
    height: 600px;
    overflow: hidden;
    position: relative;
    background: black;
    margin: 1.5rem 0 0 !important;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  //blog hub page image
  &\:featured-left {
    .blog-top-image {
      width: 100%;
    }
  }
}

.-m-zero-auto {
  margin: 0 auto;
}

.four-stats {
  border-top: 1px solid #ced6de;
  border-bottom: 1px solid #ced6de;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 1.5rem 1rem;

  li {
    min-width: 185px;
    padding-bottom: 1rem;
  }
}

.card-border {
  border-radius: 0.375rem;
  box-shadow: inset 0 -1px 0 -2px #ced6de, inset 0 0 0 1px #ced6de;
  padding: 0.75rem;
}

.flex-fill-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  height: 100%;

  > * {
    &:not(.heading) {
      margin: 0 !important;
    }
  }
}

.-unrestricted {
  width: unset !important;
  min-width: unset !important;
  max-width: unset !important;
}

.-flipped {
  direction: rtl;
}

.heading {
  font-weight: 500;
}

.-flex-default {
  display: flex;
  justify-content: space-between;

  > div {
    img {
      width: 100%;
      height: auto;
    }
  }

  &.-two-items {
    > div {
      width: calc(50% - 1rem);
    }
  }

  &.-three-items {
    > div {
      width: calc(33.333% - 1rem);
    }
  }
}

.-flex-column {
  display: flex;
  flex-direction: column;

  a {
    position: relative;
    margin-bottom: 0.6rem;

    > .icon,
    > svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.four-stats {
  .heading {
    font-weight: 600;
  }
}

.tilebox {
  border-bottom-width: 1px;
}

.article-author {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-items: center;

  .author-avatar {
    width: 108px;
    height: 108px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1.75rem;
    background: #44576a;

    img {
      display: block;
      width: 100%;
    }
  }

  .author-details {
    margin: auto 0;
  }

  .text {
    margin-top: 0 !important;
  }
}

.card {
  box-shadow: inset 0 -1px 0 -2px #ced6de, inset 0 0 0 1px #ced6de;

  .basic {
    padding: 1rem;

    .link {
      &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }

      &:hover {
        &:after {
          overflow: hidden;
          background: linear-gradient(159deg, rgba(255, 255, 255, 0.15) 0%, transparent 50%);
          border: 1px solid rgba(10, 13, 16, 0.2);
          border-radius: 0.4rem;
        }
      }
    }
  }
}

.row {
  // Hero
  &\:bg-hero {
    min-height: unset !important;
    padding-bottom: var(--page-gap, 1rem) !important;
  }

  &\:hero {
    background: radial-gradient(#fff, rgba(255, 255, 255, 0) 70%);

    &.-clear-background {
      background: none;
    }

    &--deranged-content {
      margin-top: 100px;
      margin-bottom: 180px;
      max-width: 550px;
      z-index: 10;


      @include tablet-desktop {
        margin-left: 100px;
      }

      @media (max-width: 1215px) {
        margin-bottom: 289px;
      }

      @include mobile {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 330px;
      }

      @media (max-width: 549px) {
        margin-bottom: 307px;
      }

      @media (max-width: 395px) {
        margin-bottom: 265px;
      }


      @media (max-width: 360px) {
        margin-bottom: 234px;
      }
    }

    //fleet page image
    .hero--image.hero--image-fleet {
      padding-top: 34.45%;
    }

    //insurance page image
    .hero--image.hero--image-insurance {
      padding-top: 34.45%;
    }
  }

  //electric page image
  &\:hero.ev-hero {
    .hero--right {
      .hero--image {
        position: relative;
        padding-top: 64.47%;
        max-width: none;

        img {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  // Row with 3 cards and new carousel card style
  &\:cards-3col,
  &\:bg-lighter .carousel.-col3 {
    .card {
      &.-title-only {
        .title {
          height: 100%;
          display: flex;
          align-items: center;
          text-align: center;
          margin: 0;
          padding: 1.6rem 2rem;
          grid-area: content;

          a {
            width: 100%;
          }
        }
      }
    }
  }

  // New row style with increased width
  &\:bg-default {
    > div {
      max-width: 108ch;
      width: 100%;

      .text {
        max-width: unset;
      }
    }
  }

  // Article
  &\:article {
    article {
      > img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

//deranged page
.-deranged-content--wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 768px;
  margin: auto;
  padding: 0 0.5rem;

  @include mobile {
    display: block;
  }

  & > * {
    margin: 0 0.5rem;
    @include mobile {
      margin: 0;
    }
  }
}

//guides electric page
.ev-hub-markdown {
  .link {
    white-space: normal;
  }
}

@media (min-width: 768px) {
  .row {
    // Hero
    &\:hero.ev-hero {
      .hero--left {
        grid-column: content / column 6;
      }

      .hero--right {
        grid-column: column 6 / content;
        text-align: left;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1215px) {
  .row {
    &\:full-w-hero {
      height: 450px;

      img {
        transform: translate(-50%, -50%) scale(0.75);
      }
    }
  }
}

// Mobile
@media (max-width: 767px) {
  .link {
    white-space: unset;
  }
  .heading {
    > div {
      display: inline;
    }
  }

  // Mobile friendly version of helper classes
  .-mt-600 {
    margin-top: 2rem !important;
  }
  .-mb-600 {
    margin-bottom: 2rem !important;
  }
  .-mv-500 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .-mv-600 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .-m-zero-auto {
    &.-mt-600 {
      margin-top: 3rem !important;
    }
  }

  .-flex-default {
    flex-wrap: wrap;

    &.-two-items {
      > div {
        width: 100%;

        .-ph-600 {
          padding-right: 2rem !important;
          padding-left: 2rem !important;
        }
      }
    }

    &.-three-items {
      > div {
        width: 100%;
        margin-bottom: 1rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .row {
    // Hero
    &\:hero {
      .hero--left {
        padding-bottom: 0;

        img {
          transform: none;
        }
      }

      .hero--right {
        .heading.-xlarge {
          margin-bottom: 1.5rem;
        }
      }

      //deranged page
      .hero--deranged-text {
        text-align: left;
      }

      .hero--deranged-image {
        padding-bottom: 50px;
      }

      .hero--right.hero--deranged-null-order {
        order: 0;
      }

      //insurance page
      .hero--image.hero--image-insurance {
        padding-top: 32%;
      }
    }

    // Flip order so image is displayed 1st on mobile
    &\:featured-left,
    &\:featured-right {
      .image {
        grid-row-start: 1;
      }
    }

    &\:full-w-hero {
      height: 300px;

      img {
        transform: translate(-50%, -50%) scale(0.5);
      }
    }
  }
}

@media (max-width: 425px) {
  .article-author {
    flex-direction: column;
    align-items: center;

    .author-avatar {
      margin-right: unset;
    }

    .author-details {
      text-align: center;
      padding-top: 0.5rem;
    }
  }
}

.toggle-wrapper {
  position: absolute;
  top: -15px;
  width: 100%;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.electric-benefits {
  border: 2px solid #EC6407;
  border-radius: 4px;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 190px;
  padding: 15px 40px;
  flex-wrap: wrap;
  .benefit-wrapper:first-of-type {
    @include mobile {
     padding-bottom: 30px;
    }
  }
  .benefit-wrapper {
    display: flex;
    width: 50%;
    align-items: center;
    @include mobile {
      width: 100%;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    .text {
      font-weight: bold;
    }
    .icon {
      height: 60px;
      max-width: 50px;
      width: 100%;
      margin-right: 30px;
      @include mobile {
        margin-right: 0;
      }
    }
  }
}
