/// @name config
$columns: 12;
$gutter-width: $rem-400;
$column-width: $vp-large/$columns;
$layout-gap: var(--layout-gap);

/// @name templates

// isolated 'columns' part of the main grid-template
// the total width is $vp-large

// looks like:
// | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 |

$grid-template:
        minmax(0, $column-width)
        [ column ]
        minmax(0, $column-width)
        [ column ]
        minmax(0, $column-width)
        [ quarter column ]
        minmax(0, $column-width)
        [ third column ]
        minmax(0, $column-width)
        [ column ]
        minmax(0, $column-width)
        [ half quarter column ]
        minmax(0, $column-width)
        [ column ]
        minmax(0, $column-width)
        [ third column ]
        minmax(0, $column-width)
        [ quarter column ]
        minmax(0, $column-width)
        [ column ]
        minmax(0, $column-width)
        [ column ]
        minmax(0, $column-width);

// the parent grid-template (for pages) that 'row:*' rows sit inside of

// looks like:
// |<--- auto --->| $grid-template |<--- auto --->|

$parent-template:
        [ full-start ]
        var(--gutter, minmax(#{$gutter-width}, 1fr))
        [ content-start column-start ]
        $grid-template
        [ column-end content-end ]
        var(--gutter, minmax(#{$gutter-width}, 1fr))
        [ full-end ];

// the child grid-template used by 'row:*' rows
// it's essentially just $grid-template wrapped in a named grid-area called 'content' (and 'full')
$child-template:
        [ full-start content-start column-start ]
        $grid-template
        [ column-end content-end full-end ];

// as above, but with spacing either side (for things like the Footer component)
$child-template-full:
        [ full-start ]
        var(--gutter)
        [ content-start column-start ]
        $grid-template
        [ column-end content-end ]
        var(--gutter)
        [ full-end ];

// all pages
[class*="page:"] {
  display: grid;
  min-width: 0;
  grid-template-columns: $parent-template;

  // adjust spacing based on the viewport size
  @include desktop {
    --gutter: minmax(#{$rem-500}, 1fr);
    --layout-gap: #{$rem-600};
  }

  @include tablet  {
    --gutter: minmax(#{$rem-500 + 1rem}, 1fr);
    --layout-gap: #{$rem-500};
  }

  @include mobile  {
    --gutter: minmax(#{$rem-400}, 1fr);
    --layout-gap: #{$rem-400};
  }

  // place children in the 'content' grid-area by default
  > * {
    grid-column: content;
    min-width: 0;
  }

  > hr {
    @include margin-block(var(--page-gap));
    max-width: unset;
  }

  // header-specific spacing
  .header + [class*="row:"]:not([class*="row:bg-"]) {
    margin-top: calc(var(--page-gap)/2);

    @include mobile  { margin-top: var(--page-gap); }
  }

  // footer-specific spacing
  :not([class*="row:bg-"]) + .footer {
    margin-top: var(--page-gap);
  }
}

/// @todo: these could do with being split into separate files
// all named page templates are defined here (default, pdp, testimonials)
.page\: {

  &default {
    overflow-x: hidden;
    --page-gap: calc(var(--layout-gap) * 1);
    @include mobile  { --page-gap: calc(var(--layout-gap) * 2); }
  }

  &pdp {
    align-items: start;
    background: linear-gradient(to bottom, $white 0, $light 100vh);
    @include mobile  { background: $lighter; }

    .tabs:not(.-alt) {
      border-radius: 0;
      .tabs__list-wrap {
        border-radius: 0;
        border-bottom: 1px solid darken($medium, 10%);
        border-top: 1px solid darken($medium, 10%);
      }
    }

    .media-player {
      border-radius: 0;
    }

    .feature-grid {
      display: grid;
      min-width: 0;
      gap: 2ch $rem-400;
      grid-template-columns: repeat(3, 1fr);

      @media (min-width: $vp-medium) {

        &[columns="4"] {
          grid-template-columns: repeat(4, 1fr);
        }

        &[columns="3"] {
          grid-template-columns: repeat(3, 1fr);
        }

        &[columns="2"] {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media (max-width: $vp-medium) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: $vp-small) {
        grid-template-columns: repeat(1, 1fr);
      }

      &--item {
        display: grid;
        min-width: 0;
        grid-template-columns: 3rem auto;
        gap: 1ch;
        align-items: center;

        &--title {
          font-size: $font-size-400 !important;
          font-weight: 500 !important;
        }
      }
    }

    .pdp {

      &--flag {
        @include card-flag;
        z-index: 3;
        border-top-left-radius: $border-radius-medium;
        border-top-right-radius: $border-radius-medium;
        overflow: hidden;

        & > *:last-child {
          padding: 3px 2ch;
        }

        @include mobile {
          @include margin-inline(-$rem-400);
          width: 100vw;

          + .tabs-wrap .media {
            @include margin-inline(-$rem-400);
            width: 100vw;
          }
        }

        & + * {
          margin-top: 0 !important;
        }
      }

      &--banner {
        background: $promo-gradient;
        color: $white;
        padding: $rem-400;
        display: grid;
        grid-template-columns: [icon] auto [text] 1fr;
        grid-template-rows: [icon text] auto;
        place-items: center start;
        gap: 1rem;
        border-radius: $border-radius-medium;

        @include mobile {
          place-items: start;

          .heading {
            text-align: left !important;
            font-size: 1.25rem;
          }
        }

        > .icon {
          grid-area: icon;
        }

        > :not(.icon) {
          grid-area: text;
        }
      }

      &--qanda {

        > .heading {
          font-weight: 500;
          font-size: 1rem;
          margin-bottom: $rem-200;

          &:before {
            content: 'Q: ';
          }
        }

        > .text {
          color: $dark;

          &:before {
            content: 'A: ';
          }
        }

        .link {
          font-weight: 500;
        }

        & + .pdp--qanda {
          border-top: 1px solid $border-color;
          margin-top: $rem-400;
          padding-top: $rem-400;
        }
      }

      &--order-summary {
        margin: 0;
        padding-top: 0;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;

        @include mobile  { position: static }
        @include desktop { @include margin-inline(-$rem-400); }

        > .heading {
          display: block;
          background: $darker;
          color: $white;
          margin-left: -$rem-400;
          margin-right: -$rem-400;
          padding: 1ch $rem-400;
        }
      }

      &--mobile-download {
        display: none;

        @include mobile { display: block; max-width: unset; }
      }

      &--reviews {
        @include owl($rem-300);
      }

      &--exclusive {
        display: grid;
        background: $darker;
        color: $white;
        min-width: 0;

        gap: 1ch;
        padding: 2ch 2ch;
        border-radius: $border-radius-medium;
        position: relative;
        align-items: center;

        @include desktop { grid-template-columns: repeat(5,minmax(0,auto)); }
        @include tablet { grid-template-columns: 2.125rem auto; }
        @include mobile { grid-template-columns: 2.125rem auto; }

        > .heading {
          @include mobile { place-self: center; margin-bottom: 1ch; }
          @include desktop { grid-column: unset; }
          grid-column: 1 / -1;
        }

        > .text {
          @include desktop { width: 15ch; font-size: 0.875rem; }
          font-size: 1rem;
          font-weight: 500;
        }

        > .icon {
          min-height: 2.5rem;
          max-height: 2.5rem;
          min-width: 2.5rem;
          max-width: 2.5rem;
          overflow: hidden;
          background: $white;
          border-radius: $border-radius-round;
        }

        .heading {
          line-height: 1.2;
        }

        &-info {
          margin: 0;
          position: absolute;
          top: -1ch;
          right: -1ch;
        }
      }

      &--feature-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        background: $white;
        border: 1px solid $border-color;
        border-bottom: 2px solid $border-color;

        @include mobile {
          gap: $rem-200;
          padding: $rem-400 $rem-200;
        }

        @include tablet-desktop {
          gap: $rem-400;
          padding: $rem-400;
        }

        @include tablet {
          grid-template-columns: repeat(2, minmax(0,1fr));
        }

        &.-col2 {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        > .heading.-lead {
          grid-column: 1 / -1;
          @include mobile { place-self: center }
        }

        &--item {
          display: flex;

          @include mobile {
            text-align: center;
            flex-direction: column;
            align-items: center;
          }

          @include tablet-desktop {
            text-align: left;
            flex-direction: row;
            align-items: center;
          }

          > .icon {
            @include mobile {
              margin: 2px 0;
              font-size: 3.125rem;
            }

            @include tablet-desktop {
              margin: 0 $rem-300 0 0;
              font-size: 3.5rem;
            }
          }

          .heading {
            @include mobile {
              font-size: 0.875rem;
            }

            @include tablet-desktop {
              font-size: 1rem;
              font-weight: 500;
            }
          }
        }
      }

      &--content {
        display: grid;
        min-width: 0;
        grid-column: content / column 7;
        grid-template-columns: repeat(2, minmax(0,1fr));
        padding: 0;
        @include owl($rem-400);
        @include desktop { @include padding-block($rem-500); }
        @include tablet  {
          grid-column: full / column 7;
          padding-left: $rem-400;
          @include padding-block($rem-400);
        }
        @include mobile  {
          @include padding-block($rem-400);
          grid-column: content;
        }

        &-fullwidth {
          @include mobile {
            margin: 1rem -1rem;
            width: 100vw;
          }
        }

        > * { grid-column: 1 / -1 }

        > .pdp--sidebar {
          display: none;
          grid-column: 1 / -1;
          padding: $rem-400;
          border-top: 1px solid $border-color;
          background: transparent;

          > .pdp--order-summary {
            padding: $rem-400;
            margin-left: -$rem-400;
            margin-right: -$rem-400;
            margin-bottom: 0;
          }

          @include margin-inline(-$rem-400);
          @include mobile { display: block; }
        }

        .breadcrumb {
          @include mobile { margin-bottom: $rem-400; }
        }

        .heading.-xlarge,
        .heading.-large {
          @include mobile { text-align: center; }
        }

        > .text.-lead.-darker {
          @include mobile { text-align: center; }
        }

        > .heading {
          margin: 0;
          margin-top: 0.25rem;
          margin-bottom: -1rem;

          & + .text {
            margin-bottom: 0.75rem;
          }
        }

        .rating {
          @include mobile {
            place-self: center;
            grid-column: 1 / -1 !important;
            margin-top: -$rem-200;
          }
        }

        .rating,
        .rating + .button {
          margin-bottom: -.5rem;
        }

        .rating + .button {
          font-weight: 500;
          @include mobile { display: none; }
        }

        .tabs__panel > .accordion {
          box-shadow: inset 0 -2px 1px -1px $border-color;
          border: 1px solid $border-color;
        }


        > .rating {
          grid-column: 1;

          & + .button {
            grid-column: 2;
            place-self: end;
          }
        }
      }

      &--sidebar {
        grid-column: column 8 / content;
        height: calc(100% - 1px);
        padding: $rem-500 $rem-500 0 $rem-500;
        outline: 1px solid $border-color;
        position: relative;
        background: $white;
        @include owl($rem-400);
        @include tablet {
          grid-column: column 7 / full;
          padding: $rem-400 $rem-400 0 $rem-400;
          margin-left: $rem-400;
        }
        @include mobile {
          grid-column: content;
          display: none;
          outline: 0;
        }

        &.disabled {
          > * {
            opacity: 0.7;
          }
        }

        &-promise {
          padding: 1ch 1rem;
          border: 1px solid rgba($green, 0.25);
          border-radius: $border-radius-large;
          background: rgba($green, 0.05);

          * {
            line-height: 1.25;
          }
        }

        > .heading.-xlarge {
          font-size: $font-size-600;
        }

        .text > img {
          display: inline-block;
          max-width: 1.25em;
          max-height: 1.25em;
          vertical-align: middle;
        }

        > .heading.-regular {
          font-size: 1rem;
          margin-top: $rem-500;
        }

        .radio * {
          font-size: 0.925rem;
        }

        &.-trucks {
          > div:first-of-type {
            display: grid;
            grid-template-columns: 4fr 3fr;
            place-items: center start;

            .price {
              margin-left: auto;
            }
          }

          .icon {
            margin-right: 1ch;
          }
        }
      }
    }
  }

  &testimonials {
    --page-gap: var(--layout-gap);

    .testimonials {

      &--content {
        display: grid;
        min-width: 0;
        grid-template-columns: repeat(2, minmax(0,1fr));
        gap: calc(var(--layout-gap)/3);
        margin-top: calc(var(--page-gap)/3);
        @include mobile  { margin-top: var(--page-gap); }

        @include desktop { grid-column: content / column 6; }
        @include tablet  { grid-column: content / column 7; }
        @include mobile  { grid-column: content; }

        > * { grid-column: 1 / -1 }

        > h1 {
          margin-bottom: $rem-400;
        }

        > .button-group {
          @include margin-block($rem-500);
        }

        &--rating {
          @include desktop { grid-column: 1; place-self: baseline start; }

          &,
          &-text {
            --owl-gap: 0;
          }

          &-text {
            text-align: left;
            @include desktop { grid-column: 2; text-align: right; place-self: baseline end; }
          }
        }
      }

      &--sidebar {
        padding: $rem-400;
        background: $lighter;
        height: 100%;
        @include owl($rem-400);
        @include desktop  { text-align: center; }

        grid-column: column 8 / content;
        @include mobile { grid-column: full; }

        & + [class*="row:bg-"] {
          --owl-gap: 0;
        }

        &--banner {
          padding: $rem-400;
          @include owl(.5ch);

          > .button {
            --owl-gap: #{$rem-400};
          }

          > .rating {
            @include desktop { @include margin-inline(auto); }
          }
        }

        &--service {
          padding: $rem-400;

          > .image {
            @include desktop { @include margin-inline(auto); }
            max-width: 4rem;
            max-height: 4rem;
            margin-bottom: 1ch;
          }

          > * {
            --owl-gap: 1ch;
          }
        }
      }
    }
  }
}
