@import '../templates/page-vars.scss';

[class*='page:'] {
  display: grid;
  min-width: 0;
  grid-template-columns: $parent-template;

  @include desktop {
    --gutter: minmax(#{$rem-500}, 1fr);
    --layout-gap: #{$rem-600};
  }

  @include tablet {
    --gutter: minmax(#{$rem-500 + 1rem}, 1fr);
    --layout-gap: #{$rem-500};
  }

  @include mobile {
    --gutter: minmax(#{$rem-400}, 1fr);
    --layout-gap: #{$rem-400};
  }

  > * {
    grid-column: content;
    min-width: 0;
  }

  > hr {
    @include margin-block(var(--page-gap));
    max-width: unset;
  }

  .header + [class*='row:']:not([class*='row:bg-']) {
    margin-top: calc(var(--page-gap) / 2);

    @include mobile {
      margin-top: var(--page-gap);
    }
  }

  :not([class*='row:bg-']) + .footer {
    margin-top: var(--page-gap);
  }

  :not([class*='row:bg-']) + .blog-carousel-wrapper {
    @include mobile {
      background: none;
    }

    & ~ .footer {
      margin-top: 0;
    }
  }
}

.banner {
  background: $white;
  color: $white;
  padding: $rem-400;
  display: grid;
  grid-template-columns: [icon] auto [text] 1fr;
  grid-template-rows: [icon text] auto;
  place-items: center start;
  gap: 1rem;
  border: 1px solid #ea6308 !important;
  border-radius: $border-radius-medium;
  align-items: center;

  .text {
    white-space: initial;
  }

  @include mobile {
    place-items: start;

    .heading {
      text-align: left !important;
      font-size: var(--class-fs);
    }

    .text {
      font-size: 0.875rem;
    }
  }

  > .icon,
  > .image {
    margin-top: 10px;
    display: flex;
    grid-area: icon;
    width: 70px !important;
    height: auto;
    justify-content: center;
    align-self: flex-start;

    svg {
      width: 50px;
    }
  }

  a {
    color: #007f83;
    text-decoration: underline;
    font-size: 0.75rem;
    word-break: break-word;
  }
}

.page\: {
  &default {
    --page-gap: calc(var(--layout-gap) * 1);
    @include mobile {
      --page-gap: calc(var(--layout-gap) * 2);
    }

    .deranged-hero-wrapper {
      height: 732px;
      grid-column: full;
      position: absolute;
      width: 100%;
      z-index: 5;
      top: 173px;
      overflow: hidden;

      @media (max-width: 1215px) {
        top: 144px;
      }

      .deranged-hero-image {
        position: absolute;
        top: 85px;
        transform: scale(1.3);
        height: 563px;
      }
    }

    .full-screen-image {
      grid-column: full;
      overflow: hidden;
    }

    .simple-placeholder {
      &__item {
        &:not(:first-child) {
          @include mobile() {
            display: none;
          }
        }

        &:last-child {
          @media (min-width: #{$vp-small}) and (max-width: #{$vp-large - 1px}) {
            display: none;
          }
        }
      }
    }

    &.-olaf {
      .header-search,
      .header-account,
      .menu, .header-wishlist,
      .header-navtoggle,
      .footer .footer--column:not(:first-child),
      .swiper-prev,
      .swiper-next {
        display: none;
      }

      .header-logo {
        pointer-events: none;
      }

      .header-content.-with-wishlist {
        @include mobile-tablet {
          grid-template-columns: 1rem minmax(0, 1fr) 40px 40px 40px 0.5rem;
        }
      }
    }
  }

  &pdp {
    align-items: start;
    background: linear-gradient(to bottom, $white 0, $light 100vh);
    --page-gap: calc(var(--layout-gap) * 1);

    @include mobile {
      background: $lighter;
      overflow: hidden;
      --page-gap: calc(var(--layout-gap) * 2);
    }

    .tabs:not(.-alt) {
      border-radius: 0;

      .tabs__list-wrap {
        border-radius: 0;
        border: 1px solid darken($medium, 10%);

        @include mobile {
          border-right: 0;
          border-left: 0;
        }

        &.with-colour-picker .tabs__list [role='tab'] {
          @include mobile-tablet {
            font-size: $font-size-200 !important;
          }
        }
      }

      .tabs__list {
        font-size: $font-size-400;
      }

      [role='tab'] {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: $rem-300;
        font-weight: $font-weight-semibold;
        background: $white;

        &.-active {
          color: $orange;
          box-shadow: 0 -3px 0 $orange inset;
        }

        @include mobile {
          font-size: $font-size-400 !important;
        }

        .icon {
          display: inline-flex;
          height: auto;
          margin-right: 0.7em;
          color: inherit;

          &.video svg, &.picture svg, &.color-picker svg {
            width: $em-400;
            height: 2.5em;
          }

          &.rotate svg {
            width: 2.5em;
            height: 2.5em;
          }

          @include mobile {
            &.video svg, &.picture svg, &.color-picker svg {
              width: 1.3em;
              height: $em-500;
            }

            &.rotate svg {
              width: $em-500;
              height: $em-500;
            }
          }

          @media (max-width: 374px) {
            margin-right: $em-200;
          }
        }
      }
    }

    .media-player {
      border-radius: 0;
    }

    .feature-grid {
      display: grid;
      min-width: 0;
      gap: 2ch $rem-400;
      grid-template-columns: repeat(3, 1fr);

      @media (min-width: $vp-medium) {
        &[columns='4'] {
          grid-template-columns: repeat(4, 1fr);
        }

        &[columns='3'] {
          grid-template-columns: repeat(3, 1fr);
        }

        &[columns='2'] {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media (max-width: $vp-medium) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: $vp-small) {
        grid-template-columns: repeat(1, 1fr);
      }

      &--item {
        display: grid;
        min-width: 0;
        grid-template-columns: 3rem auto;
        gap: 1ch;
        align-items: center;

        &--title {
          font-size: $font-size-400 !important;
          font-weight: 500 !important;
        }
      }
    }

    .pdp {
      &--flag {
        @include card-flag;
        z-index: 3;
        min-height: 26px;
        border-top-left-radius: $border-radius-medium;
        border-top-right-radius: $border-radius-medium;
        overflow: hidden;

        & > *:last-child {
          padding: 3px 2ch;
        }

        @include mobile {
          @include margin-inline(-$rem-400);
          width: 100vw;
        }

        & + * {
          margin-top: 0 !important;
        }
      }

      &--media-gallery {
        @include mobile {
          @include margin-inline(-$rem-400);
          width: 100vw;
        }

        & .swiper-slide {
          @include mobile-tablet {
            padding: 0 0.1px;
          }
        }
      }

      &--qanda {
        > .heading {
          font-weight: 500;
          font-size: 1rem;
          margin-bottom: $rem-200;

          &:before {
            content: 'Q: ';
          }
        }

        > .text {
          color: $dark;

          &:before {
            content: 'A: ';
          }
        }

        .link {
          font-weight: 500;
        }

        & + .pdp--qanda {
          border-top: 1px solid $border-color;
          margin-top: $rem-400;
          padding-top: $rem-400;
        }
      }

      &--order-summary {
        margin: 0;
        padding-top: 0;
        padding-bottom: 150px;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;

        @include mobile {
          position: static;
        }
        @include desktop {
          @include margin-inline(-$rem-400);
        }

        > .heading {
          display: block;
          background: $darker;
          color: $white;
          margin-left: -$rem-400;
          margin-right: -$rem-400;
          padding: 1ch $rem-400;
        }

        > .bf-banner {
          margin-left: -$rem-400;
          margin-right: -$rem-400;
        }
      }

      &--mobile-download {
        display: none;

        @include mobile {
          display: block;
          max-width: unset;
        }
      }

      &--reviews {
        @include owl($rem-300);
      }

      &--exclusive {
        display: grid;
        background: $darker;
        color: $white;
        min-width: 0;

        gap: 1ch;
        padding: 2ch 2ch;
        border-radius: $border-radius-medium;
        position: relative;
        align-items: center;

        @include desktop {
          grid-template-columns: repeat(5, minmax(0, auto));
        }
        @include tablet {
          grid-template-columns: 2.125rem auto;
        }
        @include mobile {
          grid-template-columns: 2.125rem auto;
        }

        > .heading {
          @include mobile {
            place-self: center;
            margin-bottom: 1ch;
          }
          @include desktop {
            grid-column: unset;
          }
          grid-column: 1 / -1;
        }

        > .text {
          @include desktop {
            width: 15ch;
            font-size: 0.875rem;
          }
          font-size: 1rem;
          font-weight: 500;
        }

        > .icon {
          min-height: 2.5rem;
          max-height: 2.5rem;
          min-width: 2.5rem;
          max-width: 2.5rem;
          overflow: hidden;
          background: $white;
          border-radius: $border-radius-round;
        }

        .heading {
          line-height: 1.2;
        }

        &-info {
          margin: 0;
          position: absolute;
          top: -1ch;
          right: -1ch;
        }
      }

      &--feature-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        background: $white;
        border: 1px solid $border-color;
        border-bottom: 2px solid $border-color;

        @include mobile {
          gap: $rem-200;
          padding: $rem-400 $rem-200;
        }

        @include tablet-desktop {
          gap: $rem-400;
          padding: $rem-400;
        }

        @include tablet {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &.-col2 {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        > .heading.-lead {
          grid-column: 1 / -1;
          @include mobile {
            place-self: center;
          }
        }

        &--item {
          display: flex;

          @include mobile {
            text-align: center;
            flex-direction: column;
            align-items: center;
          }

          @include tablet-desktop {
            text-align: left;
            flex-direction: row;
            align-items: center;
          }

          > .icon {
            @include mobile {
              margin: 2px 0;
              font-size: 3.125rem;
              height: 3.5rem;
            }

            @include tablet-desktop {
              margin: 0 $rem-300 0 0;
              font-size: 3.5rem;
            }
          }

          .heading {
            @include mobile {
              font-size: 0.875rem;
            }

            @include tablet-desktop {
              font-size: 1rem;
              font-weight: 500;
            }
          }
        }
      }

      &--promo {
        @include desktop {
          grid-column: 2 / span 7;
        }

        @include tablet {
          grid-column: full / column 7;
        }

        @include mobile {
          .bf-banner,
          .pdp-free-insurance-banner {
            margin-left: -$rem-400;
            margin-right: -$rem-400;
          }
        }
      }

      &--content {
        display: grid;
        min-width: 0;
        grid-column: content / column 7;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0;
        @include owl($rem-400);
        @include desktop {
          @include padding-block($rem-300);
        }
        @include tablet {
          grid-column: full / column 7;
          padding-left: $rem-400;
          margin-right: $rem-400;;
          @include padding-block($rem-200);
        }
        @include mobile {
          @include padding-block($rem-200);
          grid-column: content;
        }

        &-details {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          margin-top: 0;

          .pdp--rating {
            display: inline-flex;
          }

          .pdp--brochure {
            @include mobile {
              display: none;
            }
          }

          .pdp--wishlist {
            display: flex;
            justify-content: left;
            align-items: center;
            width: 100%;
            margin-bottom: $rem-300;

            @include mobile {
              width: auto;
              margin-bottom: 0;
            }

            > * {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: $font-size-400;
              font-weight: $font-weight-medium;
              line-height: $font-size-500;
              color: var(--class-color, #{$darker});
              transition: color 150ms $transition-soft;
              cursor: pointer;

              .button--inner {
                padding: 0;
              }

              .icon {
                position: relative;
                bottom: 0.125em;
                vertical-align: bottom;
                font-size: 1.125rem;
              }
            }
          }
        }

        &-fullwidth {
          @include mobile {
            margin: 1rem -1rem;
            width: 100vw;
          }
        }

        > * {
          grid-column: 1 / -1;
        }

        > .pdp--sidebar {
          display: none;
          grid-column: 1 / -1;
          padding: $rem-400;
          border-top: 1px solid $border-color;
          background: transparent;

          > .pdp--order-summary {
            padding: $rem-400;
            margin-left: -$rem-400;
            margin-right: -$rem-400;
            margin-bottom: 0;
          }

          @include margin-inline(-$rem-400);
          @include mobile {
            display: block;
          }
        }

        .breadcrumb {
          @include mobile {
            margin-bottom: $rem-400;
          }
        }

        &__heading {
          @include mobile {
            text-align: center;
          }

          .text {
            font-weight: $font-weight-regular;
          }
        }

        .rating {
          @include mobile {
            place-self: center;
            grid-column: 1 / -1 !important;
            margin-top: -$rem-200;
          }
        }

        .rating,
        .rating + .button {
          margin-bottom: -0.5rem;
        }

        .rating + .button {
          font-weight: 500;

          @include mobile {
            display: none;
          }
        }

        .tabs__panel > .accordion {
          box-shadow: inset 0 -2px 1px -1px $border-color;
          border: 1px solid $border-color;
        }

        > .rating {
          grid-column: 1;

          & + .button {
            grid-column: 2;
            place-self: end;
          }
        }

        section.trustpilot {
          background: $white;
          border: 1px solid $border-color;
          border-bottom: 2px solid $border-color;
          padding: 1rem;
          height: 175px;
          display: block;
          @include mobile {
            overflow: hidden;
          }
          @include mobile375() {
            padding: 1rem 0;
          }
        }
      }

      &--sidebar {
        grid-column: column 8 / content;
        height: calc(100% - 1px);
        padding: $rem-500 $rem-500 0 $rem-500;
        outline: 1px solid $border-color;
        position: relative;
        background: $white;
        @include owl($rem-400);
        @include desktop {
          grid-row: 2 / span 3;
        }
        @include tablet {
          grid-row: 2 / span 3;
          grid-column: column 7 / full;
          padding: $rem-400 $rem-400 0 $rem-400;
        }
        @include mobile {
          grid-column: content;
          display: none;
          outline: 0;
        }

        &.disabled {
          > * {
            opacity: 0.7;
          }
        }

        &-promise {
          padding: 1ch 1rem;
          border: 1px solid rgba($green, 0.25);
          border-radius: $border-radius-large;
          background: rgba($green, 0.05);

          * {
            line-height: 1.25;
          }
        }

        > .heading.-xlarge {
          font-size: $font-size-600;
        }

        .text > img {
          display: inline-block;
          max-width: 1.25em;
          max-height: 1.25em;
          vertical-align: middle;
        }

        > .heading.-regular {
          font-size: 1rem;
          margin-top: $rem-500;

          .-info-modal {
            cursor: pointer;
            position: relative;
            top: 2.5px;
          }
        }

        .radio * {
          font-size: 0.925rem;
        }

        .choice-boxes-v2 {
          width: auto;

          .choice-box {
            flex: 1 1 1px;
            justify-content: center;
            margin-top: 3px;
            padding: 0;
          }

          .choice-label {
            text-align: center;
            text-transform: lowercase;

            &:first-letter {
              text-transform: uppercase;
            }
          }
        }

        &.-trucks {
          > div:first-of-type {
            display: grid;
            grid-template-columns: 4fr 3fr;
            place-items: center start;

            .price {
              margin-left: auto;
            }
          }

          .icon {
            margin-right: 1ch;
          }
        }

        .button-wrapper {
          margin-top: 25px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  &testimonials {
    --page-gap: var(--layout-gap);

    .testimonials {
      &--content {
        display: grid;
        min-width: 0;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: calc(var(--layout-gap) / 3);
        margin-top: calc(var(--page-gap) / 3);
        @include mobile {
          margin-top: var(--page-gap);
        }

        @include desktop {
          grid-column: content / column 6;
        }
        @include tablet {
          grid-column: content / column 7;
        }
        @include mobile {
          grid-column: content;
        }

        > .breadcrumb {
        }

        > * {
          grid-column: 1 / -1;
        }

        > h1 {
          margin-bottom: $rem-400;
        }

        > .button-group {
          @include margin-block($rem-500);
        }

        &--rating {
          @include desktop {
            grid-column: 1;
            place-self: baseline start;
          }

          &,
          &-text {
            --owl-gap: 0;
          }

          &-text {
            text-align: left;
            @include desktop {
              grid-column: 2;
              text-align: right;
              place-self: baseline end;
            }
          }
        }
      }

      &--sidebar {
        padding: $rem-400;
        background: $lighter;
        height: 100%;
        @include owl($rem-400);
        @include desktop {
          text-align: center;
        }

        grid-column: column 8 / content;
        @include mobile {
          grid-column: full;
        }

        & + [class*='row:bg-'] {
          --owl-gap: 0;
        }

        &--banner {
          padding: $rem-400;
          @include owl(0.5ch);

          > .button {
            --owl-gap: #{$rem-400};
          }

          > .rating {
            @include desktop {
              @include margin-inline(auto);
            }
          }
        }

        &--service {
          padding: $rem-400;

          .image {
            @include desktop {
              @include margin-inline(auto);
            }
            max-width: 4rem;
            max-height: 4rem;
            margin-bottom: 1ch;
            width: 4rem;
            height: 4rem;
          }

          > * {
            --owl-gap: 1ch;
          }
        }
      }
    }
  }
}

.partnership-top-header {
  width: 100%;
  padding: 32px 0 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .partnership-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    .partnership-logo--heading {
      color: $black;
      font-weight: 600;
      font-size: 1.25rem;
      margin-right: 12px;
    }
  }
}

.simple-placeholder {
  width: 100%;

  &__wrapper {
    margin: 0px -10px;
    display: flex;
  }

  &__item {
    margin: 0 10px;
    flex: 1 1 auto;
    box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
    border-radius: .375rem;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -150px;
      top: 0;
      height: 100%;
      width: 150px;
      background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
      animation: skeleton-shining 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    }
  }

  @keyframes skeleton-shining {
    from {
      left: -150px;
    }
    to {
      left: 100%;
    }
  }
}

