.radio {
  &--native {
    position: absolute;
    visibility: visible;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;

    /* Checked & indeterminate */
    &:checked + .radio--label:before {
      border-width: 1px;
      border-color: $teal;
      background-color: $white;
    }

    $mark-size: $control-size * 0.25;

    &:checked + .radio--label:after {
      background: radial-gradient(
        circle at center,
        $teal $mark-size,
        transparent $mark-size + 1px
      );
      box-shadow: inset 0 0 0 2px $teal;
    }

    &:focus + .radio--label:before,
    &--label--focus:before,
    &:checked:focus + .radio--label:before {
      box-shadow: $box-shadow-focus rgba($teal, $opacity-300);
    }

    /* Disabled */
    &:disabled + .radio--label {
      cursor: not-allowed;
      background: transparent;
      outline: 0;
    }

    &:disabled + .radio--label:before {
      border-color: $medium;
      background-color: $lighter;
    }

    &:disabled + .radio--label:after {
      border-color: $medium;
    }

    &:checked:disabled + .radio--label:before {
      background-color: $light;
    }

    &:checked + .radio--label {
      background: rgba($teal, $opacity-200);
      outline: 0.5rem solid rgba($teal, $opacity-200);
    }
  }

  //ToDo: not completely understand where use this one
  &--grid {
    display: inline-grid;
    grid-template-columns: repeat(var(--grid-cols, 3), 1fr);
    gap: 2rem;
    align-items: stretch;
    width: 100%;
    min-width: 0;

    @media (max-width: $vp-medium) {
      grid-template-columns: unset;
      grid-auto-flow: row;
      gap: 1rem;
    }
  }

  &--content {
    // margin-top: .5rem;
    flex-basis: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.25rem;

    > * + * {
      margin-top: 0.5rem;
    }
  }

  &.-outline {
    border: 1px solid $border-color;
    border-radius: $border-radius-small;
    padding: 0.25rem 0.5rem;
    overflow: hidden;

    .radio--label {
      height: 100%;
      justify-content: center;
      text-align: center;
      font-weight: $font-weight-semibold;
    }
  }

  &--label {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: calc(#{$control-size} + #{$rem-300} + 2px);
    padding-right: 1ch;
    min-height: calc(#{$control-size} + #{$rem-200} - 6px);
    cursor: pointer;
    user-select: none;
    margin: 0.25rem 0;

    &:hover,
    &:focus {
      background: rgba($teal, $opacity-100);
      outline: 0.5rem solid rgba($teal, $opacity-100);
    }
  }

  &--label:before {
    position: absolute;
    top: 1px;
    left: 0;
    margin: 2px;
    margin-top: 0px;
    width: $control-size;
    height: $control-size;
    border: 1px solid $border-color;
    border-radius: $border-radius-round;
    background-color: $white;
    content: '';
    transition: border $duration-small $transition-soft,
      background $duration-small $transition-soft,
      box-shadow $duration-small $transition-soft;
  }

  &--label:after {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1px;
    margin-left: 2px;
    width: $control-size;
    height: $control-size;
    border-radius: $border-radius-round;
    background: transparent;
    content: '';
  }
}
