.icon {
  display: inline-block;
  color: currentColor;
  vertical-align: baseline;
  height: 0.9em;

  &.-info-modal {
    cursor: pointer;
    position: relative;
    top: 2.5px;
  }
  &.-xlarge,
  &.-large,
  &.-lead,
  &.-regular,
  &.-small,
  &.-xsmall {
    font-size: calc(var(--class-fs) * 1.125);
  }

  &[src] {
    font-size: calc(var(--class-fs) * 1.125);

    &.-orange {
      filter: $filter-orange;
    }
    &.-teal {
      filter: $filter-teal;
    }
    &.-sky {
      filter: $filter-sky;
    }
    &.-success {
      filter: $filter-success;
    }
    &.-warning {
      filter: $filter-warning;
    }
    &.-danger {
      filter: $filter-danger;
    }
    &.-black {
      filter: $filter-black;
    }
    &.-darker {
      filter: $filter-darker;
    }
    &.-dark {
      filter: $filter-dark;
    }
    &.-medium {
      filter: $filter-medium;
    }
    &.-light {
      filter: $filter-light;
    }
    &.-lighter {
      filter: $filter-lighter;
    }
    &.-white {
      filter: $filter-white;
    }
  }

  &.-teal,
  &.-orange,
  &.-success,
  &.-danger,
  &.-warning,
  &.-white,
  &.-lighter,
  &.-light,
  &.-medium,
  &.-dark,
  &.-darker,
  &.-sky,
  &.-black {
    color: var(--class-color);
    & svg {
      fill: var(--class-color);
    }
  }

  &.color-picker {
    height: 24px;
  }

  &.color-picker.uncolored g,
  &.color-picker.uncolored .picker,{
    fill: #658098;
  }
}
